a:focus{outline:none}
a{color:black}
a:hover{text-decoration: none}
button, input, optgroup, select, textarea{line-height:inherit}
/*custom*/
.no-padding{padding:0}
.no-margin{margin:0}
.cus_img{width:100%;}
.cus_center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.cus_icon{
    width: 45px;
    height:45px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}
.relative{position:relative}
.absolute{position:absolute}
.send-mail-home{float:left;width:100%;}
/*header*/
.banner{display: none}
/*head bet*/
.head-bet .logo{
    float: left;
    width: 66px;
    overflow: hidden;

    position: absolute;
    z-index: 200;
    margin-top: 5px;
}
.head-bet .logo h1{margin:0}
.head-bet .search{
    margin: 23px auto 0;
    width: 163px;
    position: absolute;
    z-index: 200;
    transform: translateX(-50%);
    left: 50%;
}
.head-bet #search_box{border:1px solid #ed3125;float:left;width:100%}
.head-bet #search_box .searchTxt{    padding: 8px; float: left;width:116px;    border: none;
    border-radius: 6px;}
.head-bet #search_box .searchIcon{width: 45px;
    padding: 3px;
    background-color: #ed3125;
    display: block;
    float: left;}
.head-bet .service{
    padding-top: 22px;
    width:100%;
    text-align: center;
    margin:120px  0 20px 0
}
.head-bet .service .absolute{top:-45px}
.icon-cart{background-image:url('./icon/1-28.png');}
.icon-cart.active{background-image:url('./icon/1-27.png');}
.icon-guide{background-image:url('./icon/1-30.png');}
.icon-guide.active{background-image:url('./icon/1-29.png');}
.icon-helper{background-image:url('./icon/1-32.png');}
.icon-helper.active{background-image:url('./icon/1-31.png');}
.icon-msg {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: #fff;
    background-color: #ed3125;
    line-height: 23px;
    text-align: center;
    position: absolute;
    font-size: 12px;
    right: 0;
    top: -7px;
}
.head-bet .service a{padding:0 10px}
/*head-bot*/
.head-bot{
    width:100%;
    position: absolute;
    right: 0;
    top: 22px;
    z-index: 199;
}
.head-bot .navbar-default{
    background-color: inherit;
    border-color: #fff;
}
.head-bot .navbar-default .navbar-toggle{border-color: #ccc;}
.head-bot .navbar-default .navbar-collapse{
    background-color: #f8f8f8;
    border-color: #e7e7e7;

    position: absolute;
    left: 0;
    right: 0;
    top: 66px;

}
.head-bot .navbar-default .navbar-collapse .nav{padding: 0 20px;}
.head-bot .container-fluid{padding:0}
.head-bot .navbar-toggle{border-radius:0;padding: 11px 9px;margin:0}
.head-bot .navbar-brand{padding:0}
.head-bot .container{padding:0 15px 0 0}
.head-bot .container-fluid>.navbar-header{margin:0}
.head-bot .dropdown-menu>li>a{padding: 6px 20px;}
.goog-te-gadget-simple,.goog-te-gadget-simple span{border:none !important;}
.goog-te-gadget-simple img{display: none}
/*end header*/

/*content home*/
.cnt-top-home-mb .transfer,.cnt-top-home-mb .payment,.cnt-top-home-mb .extra{float:left;width:100%;    padding-left: 29px;}
.cnt-top-home-mb .transfer{
    background:url('./icon/1-05.png') no-repeat;
    background-position: 0px 26px;
    padding-left: 18px;}
.cnt-top-home-mb .payment{
    background:url('./icon/1-04.png') no-repeat;
    background-position: 13px 20px;
    padding-left: 40px;}
.cnt-top-home-mb .extra{
    background:url('./icon/1-06.png') no-repeat;
    background-position: 9px 20px;
    padding-left: 35px;}
.cnt-top-home-mb h3{font-size: 16px;font-weight: 600;}
.cnt-top-home-mb .transfer h3,.cnt-top-home-mb .transfer p{margin-left:55px}
.cnt-top-home-mb .payment h3,.cnt-top-home-mb .payment p{margin-left:31px}
.cnt-top-home-mb .extra  h3,.cnt-top-home-mb .extra p{margin-left:36px}
.cnt-top-home-mb .act{    padding-bottom: 20px;float:left;width:100%}

/*slider*/
.slider-home-banner .slick-dots{bottom:10px}
.slider-home-banner .slick-dots li.slick-active button:before,.slider-home-banner .slick-dots li button:before{
    background-color: red;
    color: transparent;
    border-radius: 50%;
    border: 1px solid #969696;
}
.slider-home-banner .slick-dots li button:before{background-color:transparent;border: 2px solid #fff;width:16px;height:16px;}
.slider-home-banner .slick-prev:before,.slider-home-banner .slick-next:before{font-size: 36px}
.slider-home-banner .slick-prev{left:20px;z-index: 1}
.slider-home-banner .slick-next{right:20px}
/*product*/
.product-hot-home h3{
    min-height:29px;
    background:url('./icon/icon-flag.png') no-repeat;
    background-size: 21px 29px;
    background-position: top left;
    font-size: 19px;
    padding-left: 30px;
    padding-top: 5px;
    margin:30px 0
}
.product-hot-home h3 a{color:#de3123;font-weight: bold}
.slider-product-home{margin-right:-5px}
.slider-product-home .item{padding:0 5px;text-align: center}
.slider-product-home .item .bd{border:1px solid #ddd;}
.slider-product-home .item .bd p{
    border-top: 1px solid #ccc;
    width: 80%;
    margin: 15px auto;
    padding: 10px 0 10px;
    height: 48px;
    overflow: hidden;}
.slider-product-home .item .bd a.contact{color:#02ade3;display: block;padding-bottom:10px}
/*cus-previous-next*/
.slider-product-home .slick-prev,.slider-product-home .slick-next{border:1px solid #ccc}
.slider-product-home .slick-prev:before,.slider-product-home .slick-next:before{
    content: "\f0d9";
    font-family: FontAwesome;
    color: #000;
    font-size: 13px;
}
.slider-product-home .slick-next:before{
    content: "\f0da";
}
.slider-product-home .slick-prev{right:24px;left:inherit;top:-47px}
.slider-product-home .slick-next{right:5px;top:-47px}
.slider-product-home .item{margin-bottom:10px}
/*new*/
.new-home,.cmt-home{float:left;width:100%;margin-bottom: 30px;}
.product-hot-home .new-home h3{
    background: none;
    padding: 0;
    margin-bottom: 0;
    height:auto
}
.new-home .item{width:100%}
.new-home .item .bd,.cmt-home .bd{width:100%;display: table;}
.cmt-home .bd .cmt-cnt{display: table-cell;vertical-align: middle;    padding-left: 2%;}
.cmt-home .bd img{width:100px;height:100px;border-radius:50%}
.cmt-home p{color:#ed3125;font-size: 13px}
.cmt-home span{float:right}
/*provider*/
.slider-provider-home div.item{margin:10px}
.slider-provider-home .slick-slide img{width:100%;border:1px solid #ccc;box-shadow: 1px 1px 1px #ccc}
/*send email home*/
.send-mail-home .note{display: none;}
.send-mail-home .note_sm{border:1px solid #ccc;border-radius:3px;    margin: 20px 0;padding:10px}
.send-mail-home .email{position:relative;width:100%;float:left}
.send-mail-home #frm_send_email a {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #ed3125;
    padding: 12px 20px;
    color:#fff;
}

.send-mail-home #frm_send_email input {
    padding: 10px;
    width: 100%;
}

/*footer*/
footer .fot-top{    background-color: #2d2d2d;
    width: 100%;
    color: #fff;
    float: left;margin-top:30px;padding-bottom: 20px}
footer article{margin-top:30px}
footer article h4{font-size: 16px;margin-bottom:10px}
footer article ul{list-style: none;padding: 0px;}
footer article ul li{padding:10px 0}
footer article ul li i{margin-right:10px}
footer article ul li a{color:#fff}
footer .underline{    width: 50px;
    height: 1px;
    background-color: #fff;
    display: block;margin-bottom:10px}
footer .address{
    background: url("./icon/1-16.png") no-repeat;
    background-size: 25px 23px;
    background-position: 0 11px;
    padding: 10px 0 10px 30px;
}
footer .email{
    background: url("./icon/1-21.png") no-repeat;
    background-size: 21px 17px;
    background-position: 0px;
    padding: 10px 0 10px 30px;
}
footer .phone{
    background: url("./icon/1-22.png") no-repeat;
    background-size: 22px 22px;
    background-position: 0 11px;
    padding: 10px 0 10px 30px;
}
footer{position: relative}
footer .icon{position:absolute;top:49px;right:15px;float:left}
footer .icon a{float:left;margin-left: 10px;}
footer .fot-end{    width: 100%;    float: left;padding: 6px;
    background-color: #191919;
    text-align: center;color:#fff}
footer .fot-end .icon-fb,footer .fot-end .icon-youtube,footer .fot-end .icon-gmail{
    background-size: 39px 39px;
    height:39px;width:39px;display: block;
}
footer .fot-end .icon-fb{
    background: url("./icon/1-13.png") no-repeat;
}
footer .fot-end .icon-youtube{
    background: url("./icon/1-14.png") no-repeat;
}
footer .fot-end .icon-gmail{
    background: url("./icon/1-15.png") no-repeat;
}

/*1810*/
.breadcrumb{background-color:#fff;margin-top:20px;}
.breadcrumb>li+li:before{
    /*content: "\f105";*/
}
.new .maintain_new h3 a{text-transform: uppercase;font-weight: normal; }
.new .banner,.new .maintain_new{    margin-bottom: 30px;}
.new .product-hot-home h3{    margin: 10px 0;}
.new .news{margin-bottom: 30px;background-color: #fdfdfd}
.new .news .item{float:left;width:100%;margin-bottom:20px;border-bottom: 1px solid #eaeaea;padding-bottom: 20px}
.new .news .item div{padding:0;}
.new .right,.new .left{float:left}
.new .news .item div h3{    font-size: 18px;}
/*detail new*/
.main-detail .item{width:100%;float:left;}
.main-detail .item h3{font-size: 18px;}
.main-detail .item .post_date{background: url("./icon/1-13.png") no-repeat;}
.main-detail .post_date i.fa, .main-detail .author i.fa{margin-right: 5px}
.main-detail .cnt{margin:30px 0 ;}

.read-continue a{color:#1c74bb;}
.detail-product .ads{padding-right: 0}

.product-other{width:100%;float:left;}

#gal1{float:left;margin-top:10px;}
#gal1 a{display: block;width:25%;    float: left;}

.detail-product .left,.detail-product .right{float:left;}
.detail-product .left h3{margin-top:0;}

.zoomWrapper,#gal1 a img,.zoomWrapper img{width:100%;float:left;}
.zoom-left{margin-bottom: 30px;float:left;}

.btn-cart,.btn-contact{padding: 12px 15px;
    border-radius: 3px;
    color: #fff;}
.btn-cart{background-color: #039a01;    }
.btn-contact{background-color: #e60f1e;}
.btn-cart i{margin-right: 3px}
.detail-product .right .number{margin:10% 0;background-color: #eaeaea;padding:20px 3px;display: block;}
.detail-product .right .number input[type=text]{    height: 35px;
    width: 50px;text-align: center;}
/*contact*/
#contact .modal-dialog{max-width:320px;text-align: center}
#contact .modal-content{border-radius:20px}
#contact .modal-header{color:#fff;background-color:#ed1b24; border-top-left-radius: 20px;border-top-right-radius: 20px;}
#contact .modal-footer{border:none;text-align: center;padding:0 15px 30px 15px}
#contact button{background-color: #1c74bb;color:#fff;border-radius: 20px;padding:8px 40px}
.btn-cart, .btn-contact{
    padding: 12px 9px;
}
.table-shopping-cart-img img {
    width: 75px;
}
.table-shopping-remove {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #e6e6e6;
    color: #595959;
}
.soluong {
    width: 65px;
}
.goog-te-gadget-simple .goog-te-menu-value{text-decoration: none}
li.media {
    border-bottom: 1px solid #eae8e8;
    margin-bottom: 10px;
}
.product-price {
    color: red;
}
.lu-text, .p-price {
    color: #59348a;
    text-align: right;
}
.tongdongia {
    margin-top: 10px;
}
.total_price {
    font-size: 120%;
    color: red;
}
.vissible-540{display: none}
.box, .box-lg, .box-highlight {
    padding: 10px 15px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}
.box-x {
    background: rgba(77, 77, 77, 0.12);
}
.btn>.fa, .btn>.im {
    margin: 0 5px;
}
th {
    white-space: nowrap;
}
.sp_x {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}
.zoom-left .active img {
    border: 2px solid #333 !important;
}

.zoomWrapper img {
    max-width: 100% !important;
    height: auto !important;
}
#modalCart .modal-header{border:none}
.number span{float:left;}
.number #soluong_detail{float:left;margin:-6px 0 0 10px}
/*register and login*/
#modalLogin .modal-content{overflow: hidden;background-color: #f1f1f1;border-radius: inherit}

#modalLogin .bg{background-color: #fff;overflow: hidden;}

#modalLogin .nav{background-color: #f1f1f1;border-bottom:none;}
#modalLogin .nav-tabs>li{margin-bottom:0;border: 0px solid transparent;}
#modalLogin .nav-tabs>li>a{border-radius: inherit;border:0;}
#modalLogin .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border:none;border-bottom-color: #f1f1f1;}
#modalLogin .modal-header{padding:0;border-bottom:none;}
#modalLogin .modal-header .close{    position: absolute;
    right: 13px;
    top: 12px;
    z-index: 20;}
#modalLogin .modal-body{padding: 15px 15px 50px 15px;}
#modalLogin .form-control{border-radius: 0}
#modalLogin .form-group{overflow: hidden}
#modalLogin .control-label{margin-top: 5px;text-align: right;padding:0;}
#modalLogin .radio-inline{margin-top:5px;}
#modalLogin .tab-content{padding: 30px 0 40px 0;}
#modalLogin span{color:#a6a6a6;}
#modalLogin .btn-default{
    background-color: #f46f36;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: inherit;
    padding: 10px 30px;
}
#modalLogin input[type='text'],#modalLogin textarea.form-control,#modalLogin input[type='password']{
    width:200px
}
.callout{color:#ed3125;text-align: center;margin-bottom:20px}
.fb{background-color: #8092b6}
.gg{background-color: #dc493f}
.forget{color:#34a7ba;}
.act-user-1 .dropdown-toggle,.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary,.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    padding: 0;
    background-color: inherit;
    border: none;
    color: #337ab7;
}
.btn-fb{    width: 200px;
    padding: 0px 0 5px 0;
    color: #fff;
    line-height: 32px;
    background: #4c69ba;
    background: linear-gradient(#4c69ba, #3b55a0);cursor: pointer}
.btn-fb i{color: #fff;
    font-size: 27px;
    padding: 2px;
    float: left;}
#sp-run{position: fixed;top:50%;right:0;z-index: 99999999;box-shadow: 1px 1px 6px #ccc;background-color:#f0f2f1}
#sp-run div:nth-child(1){float:left;width:69px;text-align: center;background-color:#fff;padding:10px}
#sp-run div:nth-child(2){float:left;padding:10px}
#sp-run i{font-size: 25px;color:#0077dd}
#sp-run .h{padding:10px 0}
#sp-run .h:hover{background-color: #ed3125;color:#fff}
#sp-run .h:hover i{color:#Fff}
#sp-run .hot-home{display: none}
footer .fot-end .container{
    position:relative;
    text-align: center}
footer .icon{float:none;position: inherit;top:0;right:0}
footer .fot-end .container div{
    float:left;
}
footer .fot-end .txtFo{margin-top:10px}
footer .main{width:auto;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
footer article {
    width: 25%;
    float: left;
}
.new .left .item:not(:last-child){
    margin-bottom:30px;
}
.newcruitment .news{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
.fb-comments span{
    width:100% !important;
}
.mg-top-3{margin-top:3px}
.mg-top-30{margin-top:30px}
.slider-product-home .item{width:50%;float:left}
/*end*/
@media (max-width:768px){
    .box-x {
        margin-left: -40px;
        margin-right: -40px;
    }
}
@media (min-width: 768px) {
    .border-right {
        border-right: 1px solid #e0e0e0;
    }

}
@media (max-width: 540px){
    .vissible-540 {
        display: block;
        padding: 15px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .hidden-540 {
        display: none !important;
    }
    .product-thumbnail img {
        max-width: 100px;
    }
    .absolute {
        top: 0;
        right: 0;
        color: red;
    }
    .xxyzx {
        padding-right: 30px;
    }
}
.container .content {min-height:200px}
.column{display: block}