.head-bet .search{float: right;    width: 239px;    margin-left: 3px;}
.head-bet #search_box .searchTxt{width: 192px;}
.head-bet .search{margin: 23px auto 0;float:none}
/*head-bot*/
.send-mail-home .note_sm{display: none}
.send-mail-home .note{display:block;float:left;width:100%;    border: 1px solid #ccc;border-radius: 3px;padding: 20px;}
.send-mail-home .note span{float:left}
.cmt-home .bd .cmt-cnt{padding-left: 2%;}
.send-mail-home .note{
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 5px;
}
.send-mail-home .note span:first-child{
    background: url(./icon/1-08.png) no-repeat;
    background-size: 33px;
    background-position: 0 2px;
    display: block;
    width: 33%;
    padding-left: 36px;
    font-weight: 600;
    font-size: 13px;
    border-right: 1px solid #ccc;
    padding-right: 0%;
}
.send-mail-home .note span:last-child{
    width: 67%;
    padding-left: 1%;
    font-size: 13px;
}

.send-mail-home .note{margin:20px 0}
