.head-bet .search {
    width: 263px;
}
.head-bet #search_box .searchTxt {
    width: 201px;
}

.head-bet .search {
    width: 379px;
}

.head-bet #search_box .searchTxt {
    width: 332px;
}
/*slider*/
.cmt-home .bd img{width:150px;height:150px;}
/*email*/
.send-mail-home .note span:first-child{
    background-size: 44px;
    width: 33%;
    padding-left: 54px;
    padding-right:2%
}
.send-mail-home .note span:last-child{width:67%;padding-left:2%}
