html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.head-bet .search{width:380px;}
.head-bet #search_box .searchTxt{width:318px;}
/*head-bot*/
.head-bot .navbar .bd-right{margin:10px 30px 0 0}
.head-bot .nav>li>a{padding: 10px 19px;}

.cmt-home {
    width: 35%;}
.new-home {
    width: 65%;
}
.cmt-home .bd div:first-child {
    width: 167px;
    margin-top: 80px;
}
/*email*/
.send-mail-home .note span:first-child{    width: 28%;}

.slider-product-home .item .bd p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-new{
    overflow: hidden;
    padding-bottom: 5px;
}

.news-img, .news-img-small, .news-img-smallest {
    width: 300px;
    height: 200px;
    padding: 0 !important;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.news-img-small {
    width: 150px;
    height: 100px;
}

.news-img-smallest {
    width: 100px;
    height: 66px;
    margin-right: 10px;
}

.product_publisher {
    background: #E9E9E9;
}

.img_provider {
    width: 100%;
}

.error {
    color: red;
}

.padding_bottom_15 {
    padding-bottom: 15px;
}

.color_red {
    color: red;
}

.margin_left_30 {
    margin-left: 30px;
}

.margin_bottom_15 {
    margin-bottom: 15px;
}

.margin_bottom_5 {
    margin-bottom: 5px;
}

.margin_bottom_50 {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    ul.dropdown-menu {
        min-width: 200px !important;
    }
}

.bd .product_itemx p {
    height: 170px;
}
.cmt-home{
    min-height: 320px;
    max-height:320px;
}
.cmt-home .slick-list{
    min-height: 318px !important;
}

/*table copy*/
.content{
    width: 100%;
    overflow: auto;
}
.content .left .item table{
    width: 100%;
}
.content .left .item table td{
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
}

.content .left .item table td img{
    margin: 15px;
}