.head-bet .search{width:500px;padding-top: 57px;}
.head-bet #search_box .searchTxt{width:438px;}
/*head-bot*/
.head-bot .nav>li>a{padding: 10px 46px;}
/*content*/
.cnt-top-home .icon-transfer{width: 66px;height: 38px}
.cnt-top-home .icon-payment{width: 41px;height: 49px}
.cnt-top-home .icon-extra{height: 43px}
.send-mail-home .note span:first-child{    width: 23%;}
.send-mail-home .email{margin-right: 10px;
    float: right;    width: 31%;}