.banner{display: block;}
.head-top{    padding: 15px 0;border-bottom: 1px solid #919191;}
.head-top .bg-phone{
    background: url("./icon/1-25.png") no-repeat;
    background-size: 26px 25px;
    position: absolute;
    height: 25px;
    float: left;
    width: 26px;
    top: -2px;
    left: 0px;
}
.head-top .cont-left{position: relative;padding-left: 36px;}
/*flag*/
.head-top .act-user{    position: relative;
    padding-left: 25px;}

.head-top .act-user .mrk{    border-right: 1px solid #969696;
    height: 23px;
    width: 1px;
    top: -1px;
    left: -1px;
    float: left;
    position: absolute;}
.head-top .language{margin-right:25px}
.head-top .dropdown-language{    padding: 0px 1px 0 10px;
    height: 22px;
    overflow: hidden;
    margin-top: -2px;}
/*end flag*/
.head-top a{color:black}
.head-top a.active{color:#02ade3}
/*head bet*/
.head-bet .logo h1 a img{margin-top:10px}
.head-bet .logo{
    width: 100px;
    position: inherit;
}
.head-bet .search{
    width:263px;padding-top: 57px;margin: 0 auto;float:none;
    transform: inherit;
    left: inherit;
    position: inherit;}
.head-bet #search_box .searchTxt{width:201px;padding:10px}
.head-bet .service{width:auto;margin-top:0}
.head-bet .service a:last-child{padding-right:0}
.head-bet #search_box{border-radius: 6px;}
.head-bet #search_box .searchIcon {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 60px;
    padding: 5px;
}
/*head-bot*/
.head-bot{background-color: #ed3125;position: inherit}
.head-bot .navbar{margin:0}
.head-bot .navbar .container-fluid{padding:0}
.head-bot .navbar .fa-home{    font-size: 28px;
    color: #FFF;
    line-height: 50px;
    float: left;
    padding-right: 15px;}
.head-bot .navbar .bd-right{width: 2px;
    border-right: 2px solid rgba(255,255,255,0.5);
    float: left;
    height: 28px;
    margin:10px 0 0 0}
.head-bot .nav>li>a{padding: 10px 16px;line-height: 30px}
.head-bot .navbar-default,.head-bot .navbar-default .navbar-collapse{    position: inherit;background-color: #ed3125;border:none;}
.head-bot .navbar-default .navbar-collapse .nav{padding: 0;}
.head-bot .navbar-default .navbar-nav>li>a,.head-bot .navbar-default .navbar-brand{color:white;font-size: inherit}
.head-bot .container{padding:0 15px 0 15px}
.head-bot .navbar-default .navbar-nav>li.active>a,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.2);}
/*menu*/
.head-bot nav .dropdown-menu{border: 1px solid #eee;border:none;box-shadow: none;border-radius: inherit}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -5px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
/*content home*/
.cnt-top-home .transfer,.cnt-top-home .payment{float:left}
.cnt-top-home .extra{float:right}
.cnt-top-home .transfer{
    background:url('./icon/1-05.png') no-repeat;
    background-size: 58px;
    background-position: 0px 26px;    padding-left: 20px;}
.cnt-top-home .payment{
    background:url('./icon/1-04.png') no-repeat;
    background-size: 38px;
    background-position: 0px 19px;     padding-left: 20px;}
.cnt-top-home .extra{
    background:url('./icon/1-06.png') no-repeat;
    background-size: 45px;
    background-position: 0px 20px;      padding-left: 20px;}
.cnt-top-home h3{font-size: 16px;font-weight: 600;}
.cnt-top-home .transfer h3,.cnt-top-home .transfer p{margin-left:55px}
.cnt-top-home .payment h3,.cnt-top-home .payment p{margin-left:31px}
.cnt-top-home .extra  h3,.cnt-top-home .extra p{margin-left:36px}
.cnt-top-home .act{    padding-bottom: 20px;
    border-bottom: 1px solid #969696;float:left;width:100%}
/*product home*/
.w_24{width:24%}
.w_76{width:76%}
.ads{float:left;padding-right:10px}
.product{float:left}
/*slider*/
.ads div,.slider-product-home .items{padding-bottom:10px}
.slider-product-home .item{width:25%;float:left;    margin-bottom: 0;}
.slick-initialized .slick-slide div.items{width:100%;float:left}
/*new home*/
.new-home{width:68%;padding-right:2%}
.new-home .bd{border:1px solid #ccc;border-radius:3px;float:left}
.new-home .item{width:50%;padding:3%;float:left}
.new-home .item:last-child div.sub-new{margin-bottom: 25px}
.new-home .item:last-child div.sub-new div{width:30%;float:left;    padding-right: 3%;}
.new-home .item:last-child h3{padding:0;margin:0 0 4px 0;font-size: 15px;font-weight: bold;    color: #666;}
.new-home .item:last-child p{font-size: 13px}
.cmt-home{width:32%;padding-left:2%;border:1px solid #ccc;float:left}
.cmt-home .bd{float:left;position: relative;}
.cmt-home .bd div:first-child{    width: 56%;
    margin-top: 65px;
}
.cmt-home .cmt-cnt{position:absolute;top: 36px;
    width: 50%;
    right: 39px;background-color:#fff}
.cmt-home .bd img{width:100%;height: auto;border-radius:inherit}
/*email home*/
.send-mail-home{margin-top:30px}
.send-mail-home .bd{float: left;
    border: 1px solid #ccc;border-radius:3px;
    overflow: hidden;width: 100%;}
.send-mail-home .note{    width: 58%;
    border: none;
    margin: 0;
    padding: 10px;}
.send-mail-home .email{    width: 40%;
    margin-top: 6px;
}
.send-mail-home .note span:first-child{    width: 36%;}
.send-mail-home .note span:last-child{    width: 64%;}
/*footer*/
.new-home {
    width: 68%;
    padding-right: 1%;
}
.new-home .item {
    padding: 2%;
}
.cmt-home {
    width: 32%;
    padding-left: 1%;
    position: relative;
}
.cmt-home .bd div:first-child {
    width: 76%;
    margin-top: 118px;
}
/*slider cmt home*/
.slider-cmt-home .slick-dots{bottom:10px}
.slider-cmt-home .slick-dots li.slick-active button:before,.slider-cmt-home .slick-dots li button:before{
    background-color: red;
    color: transparent;
    border-radius: 50%;
    border: 1px solid #969696;
}

.slider-cmt-home{margin-right:-5px}
.slider-cmt-home .item{padding:0 5px;text-align: center}
.slider-cmt-home .item .bd{border:1px solid #ddd;}
.slider-cmt-home .item .bd p{
    border-top: 1px solid #ccc;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;}
.slider-cmt-home .item .bd a{color:#02ade3;display: block;padding-bottom:10px}
/*cus-previous-next*/
.slider-cmt-home .slick-prev,.slider-cmt-home .slick-next{border:1px solid #ccc}
.slider-cmt-home .slick-prev:before,.slider-cmt-home .slick-next:before{
    content: "\f0d9";
    font-family: FontAwesome;
    color: #000;
    font-size: 13px;
}
.slider-cmt-home .slick-next:before{
    content: "\f0da";
}
.slider-cmt-home .slick-prev{right:24px;left:inherit;top:-47px}
.slider-cmt-home .slick-next{right:5px;top:-47px}

/*1810*/
.new .news .item{width:100%;}
.new .news .item div h3{
    margin-top: 0;}
.new .left,.detail-product .left{padding-right:3%;}
.new .left .news .item div:last-child {
    padding: 0 15px;
}
.new .right .news .item div:last-child{padding:0 0 0 15px;}
.detail-product .main-detail .right{padding-left:2%;}
/*detail new*/
.cmt-home{
    min-height: 240px;
    max-height:240px;
}
.cmt-home .slick-list{
    min-height: 236px !important;
}

.column{display: none}