.table-image{
    max-width: 100px;
    width: 100px;
}
.table-image img{
    max-height: 100px;
    max-width: 100px;
}

.width_50{
    max-width: 50px;
    width: 50px;
}
.width_80{
    max-width: 80px;
    width: 80px;
}
.width_100{
    max-width: 100px;
    width: 100px;
}
.width_110{
    max-width: 110px;
    width: 110px;
}
.width_150{
    max-width: 150px;
    width: 150px;
}
.width_200{
    max-width: 200px;
    width: 200px;
}
.width_300{
    max-width: 300px;
    width: 300px;
}
.file-manager img{
    max-width: 100%;
}

.margin-right-10 {
    margin-right: 10px;
}
