html, body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

@media (min-width: 1600px) {
    .container {
        width: 1434px;
    }
}

.fab_btn {
    margin-top: -25px;
}

.maia-col-4 {
    width: 30.3571428571%;
}

.maia-col-12 {
    width: 97.0238095238%;
}

.mdl-card {
    /*width: 100%;*/
}

.card-tech .image {
    background: url(./img/home-techtrack.png) center / cover;
    height: 170px;
}

.card-service .image {
    background: url(./img/home-servicestrack.png) center / cover;
    height: 170px;
}

.card-sale .image {
    background: url(./img/home-salestrack.png) center / cover;
    height: 170px;
}

.mdl-card__supporting-text {
    padding: 25px;
    width: 100%;
    height: 285px;
}

.maia-col-1, .maia-col-2, .maia-col-3, .maia-col-4, .maia-col-5, .maia-col-6, .maia-col-7, .maia-col-8, .maia-col-9, .maia-col-10, .maia-col-11, .maia-col-12 {
    float: left;
    margin: 0 1.4880952381% 20px;
}

.partners .card .content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.gap {
    margin-top: 30px;
}

.container img {
    max-width: 100%;
}

.card-cascade .view, .card-cascade-2 .view, .card-overlay, .colorful-select .dropdown-content li a:hover, .colorful-select .dropdown-content li span:hover, .comments-list img, .dropdown .dropdown-menu .dropdown-item:hover, .nav-tabs, .reply-form img, .section .view, .section-blog-fw .view, .testimonial-carousel .testimonial .avatar img, .z-depth-2,
.feature-2 .card-cascade.wider .card-block {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.card-cascade.wider .card-block {
    margin-left: 4%;
    margin-right: 4%;
}

.card-cascade .card-block {
    padding-top: 1.8rem;
}

.card-block {
    padding: 1.25rem;
}

.m-b-2, .m-y-2 {
    margin-bottom: 1.5rem !important;
}

.section .section-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 250%;
    font-weight: 300;
}

.section.extra-margins a, .section.extra-margins h4, .section.extra-margins h5 {
    margin-bottom: 1rem;
}

.section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section p {
    font-weight: 300;
    font-size: 1rem;
}

.section h4 {
    font-weight: 400;
    font-size: 1.5rem;
}

.blue-text {
    color: #2196F3 !important
}

.red-text {
    color: #F44336 !important;
}

.teal-text {
    color: #009688 !important;
}
.indigo-text {
    color: #3f51b5!important;
}


footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #3E4551;
    color: #fff;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .offset-md-1 {
        margin-left: 8.333333%;
    }
}

ul, ul li {
    list-style-type: none;
}

footer.page-footer .title {
    text-transform: uppercase;
}

footer.page-footer a {
    color: #fff;
}
footer.page-footer .call-to-action {
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: .5rem;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,.8);
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
footer.page-footer .call-to-action ul li {
    display: inline-block;
    padding-right: 10px;
}
footer hr{
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.btn-danger {
    background: #C00;
}
.btn-danger.focus, .btn-danger:focus, .btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}
.btn-danger:focus, .btn-danger:hover {
    background-color: #db0000!important;
}
.btn-default {
    background: #2BBBAD;
}
.btn-default:focus, .btn-default:hover {
    background-color: #30cfc0!important;
}
.btn-default:focus, .btn-default:hover {
    background-color: #30cfc0!important;
    color: white;
}
p{
    font-size: 1rem;
}
a.mdl-button:hover{
    text-decoration: none;
}