/*quanghv*/
h3.title {
    text-transform: uppercase;
    text-align: center;
}

h5.sub_title {
    text-align: center;
    padding: 0 40px 10px;
    border-bottom: 1px solid rgba(186, 8, 4, 0.72);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

a.xemthem {
    margin-top: 20px;
}

a.xemthem:hover {
    text-decoration: underline;
}

h3.f-title {
    text-transform: uppercase;
    color: #333!important;
    font-weight: 400;
}
ul.nav-link li{
    font-size: 18px;
    padding-top: 10px;
}
ul.nav-link li a{
    color: #333;
    font-size: 20px;
}
ul.nav-link-social li{
    float: left;
    padding: 10px;
}
.desc {
    text-align: justify;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Segoe UI" !important;
    color: #333;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #ba0804;
}

a:hover {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.text-over {
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 992px) {
    img.img_pack {
        max-width: 100px;
    }

    ul.top_menu li {
        margin: 6px;
    }

    h3 {
        font-size: 18px;
    }

    .desktop_menu .container {
        width: 100%;
    }
}

.header_user ul li {
    margin-left: 0;
}

.header_user a {
    color: white;
}

.xemthem {
    font-family: "Roboto Light", "Segoe UI";
    font-size: 22px;
    /*text-decoration: underline;*/
}

ul.top_menu {
    position: relative;
}

.top_menu li a {
    padding-bottom: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.user_avartar {
    white-space: nowrap;
}

.user_avartar a {
    font-size: 15px !important;
    text-decoration: none;
}

.top_menu li.active > a, .top_menu li:hover > a {
    border-bottom: 2px solid #ba0804;
    color: #ba0804 !important;
}

.top_menu li:hover ul li > a {
    border-bottom: 0;
}

.top_menu li a {
    padding: 7px 0 !important;
}

.top_menu li ul li a {
    padding: 7px 10px !important;
    margin: 0 !important;
    text-transform: inherit;
    font-weight: normal !important;
}

.top_menu li ul li:first-child a {
    padding-top: 15px !important;
}

.top_menu li ul li:last-child a {
    padding-bottom: 15px !important;
}

.top_menu li {
    margin: 0 10px;
}

.top_menu .has_sub .dropdown_menu li a {
    font-size: 14px !important;
}

.top_menu .has_sub ul.last {
    right: 0;
    left: auto;
}

ul.top_menu.top_menu-x.left li:last-child ul,
ul.top_menu.top_menu-x.right li:last-child ul {
    left: 50%;
    right: 0;
}

.desktop_menu .container .row .top_menu .has_sub .dropdown_menu {
    width: auto !important;
    z-index: 1;
    margin-top: -3px;
    padding-top: 15px;
    background-color: transparent;
    border: 0;
}

/*@media (max-width: 1800px) {*/
/*.top_menu .has_sub .dropdown_menu{*/
/*top: 10px;*/
/*}*/
/*}*/
/*@media (min-width: 1800px) {*/
/*.top_menu .has_sub .dropdown_menu{*/
/*top: 30px;*/
/*}*/
/*}*/
.dropdown_menu li:first-child {
    border-top: 1px solid #f0f0f0;
}

.dropdown_menu li:last-child {
    border-bottom: 1px solid #f0f0f0;
}

.dropdown_menu li {
    background-color: #fff;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-top: 1px dotted #f0f0f0;
}

#feature3 .glyphicon {
    float: right;
    font-size: 35px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 7px;
    color: white;
}

.inline-block {
    display: inline-block;
}

.white{
    color: white;
}
a.white:hover{
    color: white;
    text-decoration: underline;
}
a.white:active, a.white:focus, a.white:visited{
    color: white;
    text-decoration: none;
}
.topbar {
    background: #ba0804;
}

.news-title, .news-content {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.pull-right {
    float: right !important;
}

.news-other-title {
    color: #2990d3;
    border-bottom: 1px solid #e0e0e0;
}

.news-content {
    padding-bottom: 30px;
}

.news-comment {
    /*border-bottom: 1px solid #e0e0e0;*/
    padding-top: 30px;
    margin-top: 30px;
}

#footer #feature1 {
    padding: 35px 0;
    position: relative;
}

.relative {
    position: relative;
}

@media (max-width: 1200px) {
    img#footer1 {
        display: none;
    }

    img#dongho {
        display: none;
    }
}

img#footer1 {
    position: absolute;
    bottom: -30px;
    left: 100px;
    max-width: 350px;
}

img#dongho {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 200px;
}

#footer #feature2 {
    background: #0099ff;
    padding: 10px;
    color: white;
}

#footer #feature3 #congty {
    font-style: italic;
    color: #ddd;
}

.tintuc-item {
    padding: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 15px;
    height: 460px;
    position: relative;
}

.tintuc-item .img {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.tintuc-item img {
    height: auto;
    width: 100%;
}

.tintuc-item .title {
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    height: 50px;
    overflow: hidden;
    text-align: left;
    line-height: 25px;
}

.tintuc-item .desc {
    height: 120px;
    text-align: justify;
    margin-bottom: 30px;
    color: #666;
}

.tintuc-item .views {
    position: relative;
    z-index: 1;
    bottom: 10px;
}

.customLink {
    font-family: "Roboto Light";
    cursor: pointer;
    font-size: 120%;
    padding-left: 15px;
    font-weight: 400;
}

#content img {
    max-width: 99% !important;
}

.img_pack {
    max-width: 200px;
}

.pack_content {
    margin: 30px auto 60px;
}

.pack_desc {
    height: 60px;
    overflow: hidden;
    color: #666;
}

.btn-pack {
    color: #444;
    padding: 7px 20px;
    background-color: #ccc;
    border-radius: 5px;
}

.btn-pack:hover {
    color: #fff;
    background-color: #09f;
}

.text-right {
    text-align: right !important;
}

.overflow-hidden {
    overflow: hidden;
}

/*quyen loi khoa hoc*/
.khoahoc_sidebar_head_image {
    position: relative;
    top: -10px;
    left: 20px;
    float: left;
}

.khoahoc_sidebar {
    border: solid 2px #eeaf00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border-bottom-width: 4px;
    margin-left: 25px;
    margin-top: 30px;
}

.khoahoc_sidebar_head {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 20px 0 30px 0;
}

.khoahoc_sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.khoahoc_sidebar li {
    border-top: dashed 1px #e8e8e8;
    overflow: hidden;
}

.khoahoc_sidebar li .sidebar_item_content {
    float: left;
    width: 90%;
    padding: 10px 0px 10px 36px;
    color: #535353;
}

.khoahoc_sidebar li:hover .sidebar_item_number span {
    background: #f6b300;
    color: #fff;
    margin-top: 20px;
}

.khoahoc_sidebar .sidebar_item_number span {
    text-align: center;
    color: #f6b300;
    font-size: 14px;
    height: 26px;
    width: 26px;
    line-height: 26px;
    font-weight: bold;
    border: solid 1px #f6b300;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
}

.khoahoc_sidebar li:hover .sidebar_item_content {
    color: #fff;
    background: url(/assets/frontend/wow_english/img/khoahoc_sidebar_active.png) center left no-repeat;
}

.khoahoc_sidebar li .sidebar_item_content {
    float: left;
    width: 90%;
    padding: 10px 0px 10px 36px;
    color: #535353;
}

.khoahoc_sidebar li:hover {
    background: #808183;
    border-bottom: dashed 1px #808183;
}

.khoahoc_sidebar li {
    border-top: dashed 1px #e8e8e8;
    overflow: hidden;
}

/*home*/
.work .item {
    position: relative;
}

.work .item {
    padding-top: 40px;
}

.work .item .img-overlay {
    position: relative;
    max-width: 335px;
    display: block;
    overflow: hidden;
}

.txt-desc {
    color: white;
    font-style: normal;
    text-align: justify;
    padding: 15px 20px;
}

.txt-title {
    color: white;
    position: absolute;
    bottom: 0;
    background: rgba(2, 111, 183, 0.85);
    left: 0;
    right: 0;
    opacity: 1;
    /*text-transform: uppercase;*/
    padding: 10px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*div.txt-desc div.title {*/
/*border-bottom: 1px dotted #f0f0f0;*/
/*padding: 10px 0;*/
/*margin-bottom: 20px;*/
/*text-transform: uppercase;*/
/*}*/
div.txt-desc div.title {
    border-bottom: 1px dotted #f0f0f0;
    padding: 10px 0;
    margin-bottom: 20px;
}

div.txt-desc {
    /*text-transform: uppercase;*/
}

img.img-responsive {
    max-width: 100% !important;
    margin: 0 auto;
}

.work .item .img-overlay {
    position: relative;
    max-width: 100%;
    display: block;
    overflow: hidden;
}

.work .item .img-responsive {
    display: inherit;
}

.img-responsive {
    display: inline;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.work {
    text-align: center;
    margin-bottom: 30px;
}

.work .item .img-overlay:hover .txt-desc.title {
    opacity: 0;
    transition: .3s;
}

.work .item .img-overlay:hover .overlay {
    opacity: 1;
    bottom: 0;
    transition: .3s;
}

.work .item .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(2, 111, 183, 1);
    bottom: -60px;
    right: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.home-news-item {
    height: 195px;
    overflow: hidden;
}

.home-news-item img {
    height: 195px;
    width: auto;
}

.home-news-item1 {
    height: 430px;
    overflow: hidden;
}

.home-news-item1 img {
    height: 430px;
    width: auto;
}

.content-third {
    padding: 20px 10px 30px;
    margin-bottom: 30px;
}

.content-third-fsize {
    margin-top: 30px;
    overflow: hidden;
}

.camnhanhocvien {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.comments h3 {
    margin-bottom: 30px;
}

.comments {
    margin-top: 60px;
}

.txt-content {
    padding: 5px 15px;
}

.comment-x {
    background: url("../img/nen11.jpg") center center;
    padding: 30px 0 30px;
    border-top: 1px solid #d9e8e3
}

.container-second {
    background: url("../img/nen11.jpg") center center;
    border: 1px solid #d3eae2;
}

img.img-responsive.img-circle.student-image {
    max-width: 160px !important;
}

.txt-logo {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
    color: #2991d6;
    text-align: center;
    font-family: roboto;
}

.logogiua {
    padding: 0;
    margin: 0;
}

@media (max-width: 1200px) {
    .txt-logo {
        font-size: 22px;
    }
}

@media (max-width: 950px) {
    .txt-logo {
        font-size: 20px;
    }
}

@media (max-width: 820px) {
    .txt-logo {
        font-size: 18px;
    }
}

.box-header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fixed-header {
    position: fixed;
}

.fixed-img img {
    max-width: 35%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.top_menu-x {
    margin-top: 60px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.fixed-menu {
    margin-top: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn_test {
    margin-top: 10px;
    background: #ff8400;
    background-image: -webkit-linear-gradient(top, #ff8400, #d40000);
    background-image: -moz-linear-gradient(top, #ff8400, #d40000);
    background-image: -ms-linear-gradient(top, #ff8400, #d40000);
    background-image: -o-linear-gradient(top, #ff8400, #d40000);
    background-image: linear-gradient(to bottom, #ff8400, #d40000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn_test:hover {
    background: #d60707;
    text-decoration: none;
    color: white;
}

.btn_start {
    background: #009e12;
    background-image: -webkit-linear-gradient(top, #009e12, #00420a);
    background-image: -moz-linear-gradient(top, #009e12, #00420a);
    background-image: -ms-linear-gradient(top, #009e12, #00420a);
    background-image: -o-linear-gradient(top, #009e12, #00420a);
    background-image: linear-gradient(to bottom, #009e12, #00420a);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 1px 1px 3px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
}

.btn_start:hover {
    background: #d60707;
    text-decoration: none;
    color: white;
}

.txt-countdown {
    font-family: fantasy;
    font-size: 25px;
}