.border-all{
    border: 1px solid #ccc;
}
.padding-top-20{
	padding-top:20px;
}
.padding-70{
    padding: 70px;
}
.font-weight-700{
    font-weight: 700;
}
.color-green-tuyen{
    color: #4E76D9!important;
}
.color-red-tuyen{
    color: #AB201D!important;
}
.margin_bottom_20{
    margin-bottom: 20px;
}
.padding-bottom-30{
    padding-bottom: 30px;
}
.margin_auto{
    margin: auto;
}
.padding-top-15{
    padding-top: 15px;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.title_bai_test{
    color:#0485c7;
    padding-top: 15px;
}
.height-20{
    height: 20px;
}
.margin-top-10{
    margin-top: -10px!important;
}
.float_right{
    float:right;
}
.float_left{
    float: left;
}
.input_checkbox_float_right{
    width: 5px;
    float: right;
}
.hidden{
    display: none;
}
.show{
    display:block;
}
.error{
    color:red;
    font-size: 12px;
    font-style: italic;
}
.error_frontend{
    color: red;
    font-size: italic;
}
.img_question_test{
    width: 250px;
    height: 250px;
}
.margin-top-20{
    margin-top: 20px;
}
.clock{
    height: 40px;
    margin-top: -10px;
}
.time_clock{
    font-weight: 700;
    font-size: 30px;
}
.max_height_menu{
    max-height: 80px;
}
#slide, .slick-list{
    /*max-height: 400px;*/
}
.max_width_100{
    max-width: 120px;
    display: inline-block!important;
}

.title-panel{
    background: #0099ff!important;
    color: white!important;
    font-weight: 300!important;
    margin-right: 0px!important;
}
.title-panel-no-active{
    background: #cccccc;
    color: white!important;
    font-weight: 300!important;
    margin-right: 0px!important;
}
.title_test{
    font-size: 24px!important;
    font-weight: 500;
}
/*copy code anh quang phan bai test sang day*/
.content-test {
    margin: 30px 0 60px;
}
/*.img_pack .col-lg, .img_pack .col-md, .img_pack .col-sm{*/
    /*width: 200px;*/
    /*height: 200px;*/
/*}*/
/*.img_pack .col-xs{*/
    /*width:100px;*/
    /*height: 100px;*/
/*}*/
.background-color-white{
    background: #F1F2F4;
}
.title_fill_code_active{
    color: #A2020A;
    font-weight: 600;
}
.font_size_18{
    font-size: 18px;
    font-weight: 400;
}
.button_tham_gia_ngay .col-xs-12 span {
    font-size: 14px!important;

}
.background-white{
    background: white!important;
}
.color-white{
    color: white!important;
}
.img_slider {
    width: 100%;
    height: auto;
}
.thoigian{
    line-height: 46px;
}
.kiemtra_test{
    padding-top: 10px;
    padding-bottom: 5px;
}
.abcx{
    margin-top: 10px;
    margin-bottom: 10px;
}
#kiemtra_trinhdo{
    box-shadow: 0 0 5px orange;
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(0,153,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(0,153,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(0,153,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(0,153,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(0,153,255,1) 100%);
    background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(0,153,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0099ff', GradientType=1 );
}