@font-face {
font-family:font_strong;
src:url(‘../fonts/Roboto-Black.ttf’) format(‘truetype’),
url(‘../fonts/Roboto-Black.eot#iefix’) format(’embedded-opentype’),
url(‘../fonts/Roboto-Black.woff’) format(‘woff’);
font-weight:normal;
 font-style:normal;
}
body html{
  overflow-x: hidden;
  font-style: font-family;
}
#tieudend{
  font-size: 20px;
}
ul li{
  list-style: none;
}
a, a:focus{
  outline:none;
}
#header nav{
  background-color: #0099ff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
#header nav img{
  float: left;
}
#header nav p{
  padding-top: 29px;
}
#header .collapse{
  padding-left: 30%;
}
/* an hien 2 menu*/
@media(min-width: 767px){

  .tieude-right img{margin-top:-9px;}
 #header .desktop_menu{ /* hien desktop menu */
display: block; 
}
 #header .mobile_menu{ /* an mobile menu*/
display: block; 
}
/*-----------------------------------7/7----------------------------------*/
#header .topbar .container .row .dropdown-menu{
    left: 218px;
}
#header .mobile_menu {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    display: block;
    margin-left: 69px;
    position: absolute;
    width: 28%;
    z-index: 9999;
}
.mobimenu .main_menu li em {
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-style: normal;
    
    margin: 0;
    overflow: hidden;
    padding: 15px 0 0;
    position: relative;
}
#header .mobile_menu .container .row ul li{
    width: 219px;
}
}
/*-----------------------------------7/7----------------------------------*/
@media(min-width: 992px){
/*-----------------------------------7/7----------------------------------*/
#header .topbar .container .row .dropdown-menu{
    left: 327px;
    top: 37px;
}
#header .mobile_menu{ /* an mobile menu*/
display: block; 
 /* an mobile menu*/
 /*----------------7/7------------------------*/
display: block; 
position: absolute;
width: 16%;
background: rgba(255,255,255,.9);
z-index: 9999;
border-bottom: 1px solid #f5f5f5;
box-shadow: 0px 3px 5px rgba(0,0,0,.35);
padding-left: 129px;

/*}*/

}
}
@media(min-width: 668px){
/*-----------------------------------7/7----------------------------------*/
#header .mobile_menu {
  display: block;
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    display: block;
    margin-left: 15px;
    position: absolute;
    width: 28%;
    z-index: 9999;
}
.mobimenu .main_menu li em {
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-style: normal;
    left: -24px;
    margin: 0;
    overflow: hidden;
    padding: 15px 0 0;
    position: relative;
}
}
@media(min-width:883px){
/*-----------------------------------7/7----------------------------------*/
#header .mobile_menu {
  display: block;
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    display: block;
    margin-left: 128px;
    position: absolute;
    width: 28%;
    z-index: 9999;
}

}
@media(min-width:802px){
/*-----------------------------------7/7----------------------------------*/
#header .mobile_menu {
  margin-left: 82px;
}

}
@media(min-width:824px){
/*-----------------------------------7/7----------------------------------*/
#header .mobile_menu {
  margin-left: 93px;
}

}
@media(min-width: 772px){#header .mobile_menu {margin-left: 68px;}}

@media(min-width: 800px){#header .mobile_menu {margin-left: 106px;}}
@media(min-width: 900px){#header .mobile_menu {margin-left: 27px;padding-left: 0px;}}
@media(min-width: 958px){#header .mobile_menu {margin-left: 54px;padding-left: 0px;}}
@media(min-width: 985px){#header .mobile_menu {margin-left: 75px;padding-left: 0px;}}
@media(min-width: 1035px){#header .mobile_menu {margin-left: 101px;padding-left: 0px;}}
@media(min-width: 1068px){#header .mobile_menu {margin-left: 119px;padding-left: 0px;}}
@media(min-width: 1100px){#header .mobile_menu {margin-left: 42px;}}
@media(min-width: 1132px){#header .mobile_menu {margin-left: 56px;}}
@media(min-width: 1156px){#header .mobile_menu {margin-left: 71px;}}
@media(min-width: 1185px){#header .mobile_menu {margin-left: 88px;}}
@media(min-width: 1115px){#header .mobile_menu {margin-left: 44px;}}
@media(min-width: 1131px){#header .mobile_menu {margin-left: 59px;}}
@media(min-width: 1167px){#header .mobile_menu {margin-left: 81px;}}
@media(min-width: 1248px){#header .mobile_menu {margin-left: 123px;}}
@media(min-width: 1280px){#header .mobile_menu {margin-left: 149px;}}
@media(min-width: 1196px){#header .mobile_menu {margin-left: 96px;}}
@media(min-width: 1250px){#header .mobile_menu {margin-left: 123px;}}
@media(min-width: 1276px){#header .mobile_menu {margin-left: 139px;}}
@media(min-width: 1300px){#header .mobile_menu {margin-left: 156px;}}
@media(min-width: 1352px){#header .mobile_menu {margin-left: 156px;}}
@media(min-width: 1406px){#header .mobile_menu {margin-left: 209px;}}
@media(min-width: 1458px){#header .mobile_menu {margin-left: 209px;}}
@media(min-width: 1476px){#header .mobile_menu {margin-left: 254px;}}
@media(min-width: 1519px){#header .mobile_menu {margin-left: 292px;}.container{width:1473px;}}
@media(min-width: 768px){#header .mobile_menu {margin-left: 68px;}}
@media(min-width: 1280px){#header .mobile_menu {margin-left: 148px;}}
@media(min-width: 1979px){#header .mobile_menu {margin-left: 292px;}}
@media(min-width: 1566px){#header .mobile_menu {margin-left: 126px;}}
@media(min-width: 1476px){
#header .mobile_menu {margin-left: 154px;
}/*header_user {
    float: right;
    margin-right: 333px;
    padding: 7px 0;
    right: 333px;
    text-align: left;*/

  .mb-menu-title a {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 30px;
    margin-left: 164x;
    padding: 20px 0;
}
.container {
    width: 1337px;
}


}
@media(min-width: 1335px){
#header .mobile_menu {margin-left: 86px;
}
#header .topbar .container .row .dropdown-menu{
    left: 505px;
}

}



@media(min-width: 1690px){
 .container {
   /* width: 1544px;*/
   width: 1643px;
}
#content img {
    display: block;
    height: auto;
    max-width: 40%;
}
.top_menu.left li a {
    font-size: 20px;
    padding-right: 1.2vw;
}
.top_menu.right li a {
    font-size: 20px;
    padding-right: 1.2vw;
}
.top_menu li a {
    font-size: 16px;
    color: #000;
    /*text-transform: uppercase;*/
    font-weight: bold;
   /* line-height: 108px;*/
   line-height: 178px;
}
.dropdown_menu li{
  padding-bottom: 29px;
}
.desktop_menu .container .row .logo img {
    display: block;
    margin: 0 auto;
    max-width: 195px;
}
.desktop_menu .container .row .top_menu li a {
    color: #545353;
   
    font-weight: bold;
    line-height: 149px;
    /*text-transform: uppercase;*/
}
.desktop_menu .container .row .top_menu li ul li a {
    color: #545353;
   
   /* font-weight: bold;*/
    line-height: 18px;
    margin-top: 20px;
   /* text-transform: uppercase;*/
}
.desktop_menu .container .row .top_menu .has_sub .dropdown_menu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 99px;
    width: 230px;
}
.desktop_menu .container .row .top_menu.right li a {
    font-size: 20px;
    padding-right: 6.2px;
}
.taikhoan .noidungtk .dropdown-menu {
    position: absolute;
    padding: 0;
    display: none;
    left: 166px;
    
    margin: 15px 0 0 0;
    background: #fff;
    border: 1px solid #eee;
    top: 35px;
    width: 30px;
  }
  /*-----------------------------------7/7----------------------------------*/

}

@media(min-width: 1200px){

  .tieude-right img{margin-top:-9px;}
 #header .desktop_menu{ /* hien desktop menu */
display: block; 
}
 #header .mobile_menu{ /* an mobile menu*/
display: block; 
 /* an mobile menu*/
 /*----------------7/7------------------------*/
/*display: block; 
position: absolute;
width: 21%;
background: rgba(255,255,255,.9);
z-index: 9999;
border-bottom: 1px solid #f5f5f5;
box-shadow: 0px 3px 5px rgba(0,0,0,.35);
padding-left: 2px;
margin-left: 94px;*/

/*}*/

}
/*-----------------------7/7--------------------*/
/*#header .topbar .container .row .dropdown-menu{
    left: 433px;
}*/
/*--------------7/7----------------------*/
.mobile_menu .container .row .mobimenu .main_menu li em {
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-style: normal;
   
    overflow: hidden;
    padding: 15px 0 0;
    position: relative;
}
}
/*------------------7/7-----------------*/
@media(min-width: 1520px){
  #header .topbar .container .row .dropdown-menu{
    left: 666px;
}
#header .mobile_menu{ /* an mobile menu*/
display: block; 
 /* an mobile menu*/
 /*----------------7/7------------------------*/
display: block; 
position: absolute;
width: 16%;
background: rgba(255,255,255,.9);
z-index: 9999;
border-bottom: 1px solid #f5f5f5;
box-shadow: 0px 3px 5px rgba(0,0,0,.35);
padding-left: 0;
margin-left: 96px;

/*}*/

}
.container{
 /* width: 1518px;*/
}
}

@media(min-width: 1900px){
  #header .mobile_menu{ /* an mobile menu*/
  margin-left: 321px;
}

}
.header_user{
  margin-top: 3px;
}

@media(max-width: 767px){
  .margin{text-align: justify;}
  .tieude-right img{margin-top:-40px;}
.taikhoan_mobile{position:absolute;top:35px;right:89px;width:200px;}
#header .desktop_menu{ /* an desktop menu */
display: none; 
}
#header .mobile_menu{ /* hien mobile menu*/
display: block; 
}
}
/*ket thuc 2 manu*/
#nav .container{
  padding-top: 50px;
}
#nav .container #tieude{
  font-size: 21px;
  padding-left: 30px;
  padding-top: 50px;
  text-align: center;
}
#nav .container a{
  padding-bottom: 20px;
}
#calltoaction .jumbotron h3{
  border: 1px solid #FFFF;
  background-color: #4d6f61;
  width: 560px;
  height: 75px;
}

#calltoaction .jumbotron {
padding: 150px 0px;
  text-align: center;
  background:url(../img/slide1.jpg) center no-repeat;
  background-size: cover;
  margin-bottom:0px;

}
#calltoaction .jumbotron h4{
  padding-left: 20px;
  color: #FFFFFF;
  font-size: 30px;
  border: 1px solid #748a97;
  
}
#calltoaction .jumbotron p{

  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.2); 
}
#calltoaction .jumbotron p img{
  margin-left: 110px;
}

#calltoaction .jumbotron #hot{
  color: #FFFFFF;
  font-size: 20px;
  border: 1px solid #748a97;
  background: #748a97;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#content .jumbotron{
  height: auto;
}
#content .row{
  /*padding: 30px 0;*/
}
#content .container .xemthem{
  float: right;
  font-size: 19px;
  color: #57E6DE;
}
#content .container h3{
  color: #57E6DE
}
#content .container .lead{
    text-align: justify;
}
/*footer*/
#footer #feature1{
  background: #3a3a3a;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer .container button{
  border:1px #efb001;
  width: 100%;

  background:#efb001; 
  height: 40px;
    border-radius:50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
   }
  /* #footer .container .thamgia{
    padding-left: 40%;
   }*/
   #footer .container h3{
   font-size: 20px;
    color: #FFFFFF;

   }

   /*#footer .container button{
    margin-left: 250px;
   }*/
   #footer .container #footer1{
    margin-top: -37px;
   }
    #footer #footer1 .container button{
        text-align: center;
    }

   #footer #footer1 .container #bang{
    width: 100%;
   }
  /* #feature2 h2{
    padding-left: 36%;
   }*/
    #footer #feature2{
      background: #3E67B9;
    }
    #footer #feature2 h2{
        padding-bottom: 12px;
        font-size: 20px;
    }
#feature3{
  background-color: #282828;
  color: white;
  font-size: 17px;
}
#footer #feature3{
    padding-top: 20px;
}
    #feature3 .container .truong{
      font-size: 25px;
      padding-top: 30px;
    }
    #feature3 .container p{
      padding-top: 0px;
        padding-left: 30px;
    }
      #feature3 .container #coso{
        padding-top: 20px;
        padding-bottom: 20px;
    }
     #footer #feature3 #anhfooter .container img{
        float: left;
        width: 100%;
    }
    .thuvien a{
      font-size: 17px;
    }
    .vego a{
      font-size: 17px;
    }
    .khoahoc a{
      font-size: 17px;
    }
    .mangxahoi a{
      font-size: 17px;
    }
      .user_avatar a{
        font-size: 12px;
      } 
  /*padding-top: 20px;*/
      
       /*#feature3 .container #ten{
        padding-left: 7px;
       }*/
        #feature3 .container #anhfooter{
          padding-top: 10px;

        }
    
         #feature3 .container .mangxahoi p {
          border-bottom: 1px solid #919394;
        }
         #feature3 .container .thuvien p
         {
          border-bottom: 1px solid #919394;
        
         }
         #feature3 .container .vego{
          padding-top: 10px;
         }
 
           #feature3 .container .vego p{
            border-bottom: 1px solid #919394;
           }
             #feature3 .container .khoahoc p{
                border-bottom: 1px solid #919394;
                /*padding-top: 12px;*/
             }
            
             .khoahoc h5{
              /*padding-top: 3px;*/
             }
              #feature3 .container .vego h5{
              padding-top: 3px;
              font-size: 18px;
             }
              #feature3 .glyphicon{
              float: right;
          font-size: 60px;

             
              color: red;
              }




/* ---------- UPDATE 29/06/2016 ------------------*/              

/* TOP BAR*/
p{
  font-size: 17px;
      /*text-align: justify;*/
}
.topbar {
    background: #0099ff;
    display: block;
    width: 100%;
    position: relative;
    overflow: visible;
}
.welcome_text {
    color: #fff;
    float: left;
}
.welcome_text {
    padding: 5px 0px;
}
.welcome_text img {
    max-width: 35px;
}


/*social*/
.social {
    margin: 0 0 0 40px;
    display: inline-block;
    padding: 8px 0px;
    list-style: none;
}
.social li img {
    max-width: 32px;
}
.social li {
    float: left;
    margin: 0 5px;    
}


.user_avatar img {
    width: 35px;
    height: 35px;

    border-radius: 50%;
}
.user_avatar {
    float: left;
    width:100%;
    overflow: hidden;
}

.header_user {
    text-align: left;
    float: right;
    padding: 7px 0px;    
}
.header_user span {
    padding-left: 10px;
    padding-top: 8px;
    display: inline-block;
    color: #fff;
}



.logo img {
    max-width: 120px;
    display: block;
    margin: 0 auto;
}

.logo {
    display: block;
    text-align: center;
}



.top_menu.right {
    float: right;
    text-align: left;
}

.top_menu.left {
    float: left;
    text-align: left;
}

.top_menu {
    padding: 0;
    margin: 0;

}

.top_menu li {
    float: left;
}

.top_menu li a {
    font-size: 17px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 108px;
}
.top_menu li a:hover {
    color: #0099ff;
}

.top_menu.left li:last-child a {
    padding-right: 0;
}
.top_menu.left li a {
    padding-right: 5vw;
}


.top_menu.right li:first-child a {
    padding-left: 0;
}
.top_menu.right li a {
    padding-left: 5vw;
}


@media(max-width: 1200px){
.top_menu.left li a {
    padding-right: 3vw;
}
.top_menu.right li a {
    padding-left: 3vw;
}

}

@media(max-width: 1024px){
.top_menu.left li a {
  font-size: 14px;
    padding-right: 1.2vw;
}
.top_menu.right li a {
  font-size: 14px;
    padding-left: 1.2vw;
}

}

.top_menu .has_sub .dropdown_menu {
    display: none;
}



.mobile_topbar.left {
    float: left;
}

.mobile_topbar.right {
    float: right;
}

.mobile_topbar.right ul li a:hover {
    color: #fff;
    text-decoration: none;
}
.mobile_topbar.right ul li a {
    padding-left: 20px;
    display: inline-block;
    color: #eee;
    font-size: 16px;
}
.mobile_topbar.right ul li {
    float: left;
    padding: 0;
    margin: 0;


}
.mobile_topbar.right ul {
    padding: 25px 0px;
    margin: 0;
    display: inline-block;

}

.top_menu .has_sub:hover .dropdown_menu {
    display: block;
}
.top_menu .has_sub .dropdown_menu li a {
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 15px;
    display: inline-block;
}

.top_menu .has_sub .dropdown_menu li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
.top_menu .has_sub .dropdown_menu {
    position: absolute;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #eee;
    top: 80px;
    width: 230px;
}

.desktop_menu {
    background: #fff;
    padding: 15px 0px;    
}

.mb-menu-title a {
  float: left;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    padding: 20px 0;
}

.mobimenu .main_menu li em:hover {
    color: #0099ff;
}
.mobimenu .main_menu li em {
    float: right;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 15px 0 0 0;
    font-style: normal;    
}
.mobimenu .main_menu li a:hover {
    text-decoration: none;
    color: #0099ff;
}
.mobimenu .main_menu li a {
    color: #545353;
    font-size: 16px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    padding: 15px 0px;
    display: inline-block;
}
.mobimenu .main_menu {
    margin: 0;
}

.mobimenu .sub_menu, .mobimenu .subsub_menu {
    padding-left: 15px;
}
.mobile_topbar {
    width: auto !important;
}
#footer #feature3 #congty{
    padding: 50px 0;
    font-size: 20px;
}
#content .giua1{
    background-color: #ECE8E8;
}
/* ----trang con---------- */
/*#header .top-bar .header_user_mobile{
  padding-top: 17px;
}*/
.circle {
      width: 10px;
      height: 10px;
      background: #C30;
      text-align: center;
      padding: 6px;
      color: #fff;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;

    }
.header_user_mobile {
    text-align: left;
    float: right;
    padding: 17px 0px;    
}
.header_user_mobile span {
    padding-left: 10px;
    padding-top: 9px;
    display: inline-block;
    color: #fff;
}
.mangxahoi{
  padding-top: 15px;
}
.mangxahoi p{
  border-bottom: 1px solid white;

}
#feature2 .container h2{
  color: white;
}
#feature1 .container button{
  color: white;
}
a{
  font-size: 20px;
  /*color: #2a91d3;*/
  /*color: black;*/
}
.content .content_1 h1{
    padding: 20px 20px 10px 20px;
   color: #79E8DC;
       text-align: justify;
  }
.content .content_1 h3{
    padding: 0px 20px 20px 29px;
   color: black;
    text-align: justify;
  }
  .content .content_1 p{
   margin: 10px 180px 75px 300px;
    border-bottom: 1px solid black;
  }
  .content_2 .chinhsach{
    color:  #1a75bc;
    font-size: 20px;
  }
  .content_2 .huongdan{
    font-size: 25px;
     color:  #1a75bc;
  }
  .content_3{
   background-color: #ECF0F1;
   padding-top: 30px;
   /*padding-bottom: 100px;*/
  }
  .content_3 .content_4{
    padding-top: 40px;
  }
  .content_3 .content_4 .kichhoat{
    padding-left: 50px;
  }
  #second-sidebar a{
    color: black;
  }
  .tabs{
    height: 33px;
    border-left: 1px solid black;
  }
  .tabs li{
    float: left;
    padding-left: 0px;
    border: 1px solid black;
    margin-left: 10px;
    line-height: 32px;
    /*border-left: none;*/


  }
  .tabs li a{
    color: white;
    display: block;
    padding: 0 14px;
    background-color: #D6D6D6;

  }
  .tabs p{
    /*padding-top: 20px;
    border-bottom: 1px solid black;
*/
  }
  .tabs li a:hover{
    background-color: #d7e7ea;
  }
  .tabs li a.active{
    background-color: #d7e7ea;
    color: white;
  }
 /* .dropdown_menu {
    position: absolute;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #eee;
    top: 80px;
    width: 230px;
}
.dropdown_menu li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}*/
.top_menu .has_sub:hover .dropdown_menu {
    display: block;
}
.top_menu .has_sub .dropdown_menu li a {
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 15px;
    display: inline-block;
}

.top_menu .has_sub .dropdown_menu li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

}
.top_menu .has_sub .dropdown_menu {
    position: absolute;
    padding: 0;
    padding-left: 20px;
    margin: 0;
   
    background: #fff;
    border: 1px solid #eee;
    top: 80px;
    width: 230px;
}

.desktop_menu {
    background: #fff;
    padding: 15px 0px;    
}
.taikhoan{
  padding-top: 9px;
}

.top_menu {
    padding: 0;
    margin: 0;

  }
  .taikhoan li a:hover {
/*    color: black;*/
  }
  .taikhoan .noidungtk .dropdown-menu {
   margin-left: 20px;
  }
  .taikhoan .noidungtk:hover .dropdown-menu {
     display: block;
  }
  .taikhoan .noidungtk .dropdown-menu li a {
    line-height: normal;
    font-size: 11px;
    font-weight: normal;
    padding: 10px 0px;
    display: inline-block;
 
  }

  .taikhoan .noidungtk .dropdown-menu li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .taikhoan .noidungtk .dropdown-menu {
    position: absolute;
    padding: 0;
    display: none;
    left: 136px;
    
    margin: 15px 0 0 0;
    background: #fff;
    border: 1px solid #eee;
    top: 35px;
    width: 30px;
  }
  .taikhoan .noidungtk a {
   
    color: white;
    text-transform: uppercase;
   line-height: 100%;
}
 .taikhoan .noidungtk ul li a{
  color: black;
 }
 .mb_noidungtk ul{
  position: absolute;
 }
  .mb_noidungtk #chao{
    color: #fff;
   /* display: inline-block;*/
    padding-left: 0px;
    padding-top: 0px;
  }
  .mb_taikhoan .mb_noidungtk{
    position: absolute;

  }
  .mb_taikhoan .mb_noidungtk{
    color: black;
    margin-right: 200px;
    float: left;
    
  }
  .taikhoan li ul{
    display: none;
  }
  .end-dangnhap{
    border-bottom: 1px solid black;
    padding-left: 30px;
    width: 200px;
    margin-left: 120px;
  }
  .end{
    padding-top: 40px
  }
  .end-pass{
    border-bottom: 1px solid black;
    width: 200px;
    margin-left: 79px;
  }
  .tab-content{
    padding-left: -90px;
  }
  #quanlitaikhoan .nav a{
    color: black;
  }
  #baihoc1 .container{
    padding-bottom: 30px;
  }
  #baihoc .nav a{
    color: black;
  }
  #kichhoat .container .xacnhan{
    padding-bottom: 30px;
  }
  .ly{
    float: left;
  }
  .modal-footer .ly .i{
    border-radius: 50%;
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
   .modal-footer .nd-kichhoat{
    float: left;
   }
   .tieude-left{

   }
   .tieude-right{
    padding-left: 20px;
   }
   .tieude-right img{
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
    float: right;
   } 
   .modal-content .modal-header{
     height: 55px;
    background-color: #4AF6F4;
   }
   /*id_baihoc*/
    /*video*/
    /*.up-content{
      border: 1px solid black;
    }*/
      .content .video iframe{
        padding-bottom: 30px;
        padding-top: 30px;
      }

    /*end video*/
    /*pphuong phap*/
    .noidungphuongphap .ndphuongphap{
        font-size: 17px;
      }
      .phuongphap .tieudepp{
        font-size: 20px;
        color: blue;
      }
      .endpp{
        float: right;
      }
    /*end phuong phpa*/
    .soluong{
      padding-bottom: 20px;
      padding-top: 30px;
    }
   /*end id_baihoc*/
  /*he thong khoa hoc*/
    .hethongkhoahoc .tenkh{
      font-size: 20px;
      color: #1a75bc;
    }
    .anh1{
      max-height: 600px;
      max-width: 600px;
      width: 100%;
    }
    .tongquatkh{
      padding-top: 80px;
    }
    .anh1-text{
      font-size: 20px;
      padding-top: 40px;
    }
    .anh12 img{
      padding-top: 47px;
    }
    .anh1-nd{
      font-size: 20px;
      padding-bottom: 30px;
    }
    .container.anh1 .khoahoc11{
      padding-top: 20px;
      padding-bottom: 40px;
    }
    .xemthem{
      border-radius: 15%;

    }
    .xemthem.btn{
      margin-bottom: 30px;
    }

  /*ket thuc he thong khoa hoc*/
  .muakhoahoc .tieude_1{
    float: left;
    padding-bottom: 30px;
    color: #a2000b;
    font-size: 20px;
    padding: 20px 20px 20px 0px;
  }
  .muakhoahoc .tieude_2{
    float: right;
    padding-bottom: 30px;
     font-size: 20px;
     color: white;
     border: 1px solid #2a91d6;
     background-color: #2a91d6;
     padding: 20px;
  }
  p{
    font-size: 17px;
  }
  .noidungmua .glyphicon{
    color: red;

  }
   .noidungmua .loiich{
    color: #f05a27;
  }
  .noidungmua li{
    padding-left: 30px;
    font-size: 17px;
  }
  .container-fluid {
      /*padding-top: 70px;
      padding-bottom: 70px;*/
  }
  /*.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
*/
.nd-kichhoat p{
  text-align: justify;
}
 p {font-size: 17px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      
  }
  .bg-2 { 
      
  }
  .bg-3 { 
      
  }
  .bg-4 { 
      
  }
  .container-fluid {
     /* padding-top: 70px;
      padding-bottom: 70px;*/
      margin-bottom: 30px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .so1{
      width: 80px;
      height: 20px;
      border-radius: 50%;
      background-color: red;

  }
  ._cuoi1{
    width: 80px;
    height: 10px;
    border-radius: 30%;
    border: 1px solid #EEF05A;
  }
  .commentfacebook{
    width: 300px; height: 300px;
  }
  /*end content*/
  .text-ql{font-size: 20px;}
  .end-text{font-size: 20px; color: #1a75bc}
  /*huong dan bai hoc*/
    .text-content1{
      font-size: 20px;
      color:  #1a75bc;
      padding-top: 33px;
    }
    .text-content3{
      font-size: 18px;
      color:  #1a75bc;

    }
    .text-content4{
      color:  #1a75bc;
    }
    .text-content5{
      font-size: 20;
    }

  /*ket thuc huong dan bài hoc*/
  /*chuyen muc*/
  .chuyenmuc1{
    border: 1px solid #F2F1F1;
    padding-top: 30px;
  }
  .end-chuyenmuc{
    float: right;
  }
  .baivietcungchuyenmuc .glyphicon{
    color: #FCD262;
  }
  .xemthem{
    /*float: right;*/
   /* padding-top: 30px;*/
   margin-top: 30px;
  }
  .chuyenmuc2{
    padding-top: 40px;
     border: 1px solid #F2F1F1;
     margin-top: 40px;
     margin-bottom: 50px;

  }
  .xacnhan{
    width: 200px;
  }
  /*---------chinh sua ngay 5/7-----------------*/
  .modal-footer .i{
    /*width: 300px;
    height: 300px;
    border-radius: 60%;
    background-color: red;
    color: white;*/

    width: 200px;
    height: 200px;
    border: solid 5px red;
    background: red;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  .tronho{
   width: 12px;
    height: 12px;
    border: solid 5px red;
    background: red;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
   
    float: left;
  }
  .text-tronnho{
    
  }
.nd-kichhoat{
  margin-left: 12px;
}  
  .modal-content{
    width: 116%;
  }
  .xacnhan1{
    margin-top: 20px;
    background-color: #2a91d6;
  }
  .dangnhap .form-horizontal{
    padding-top: 30px;
  }
  #menu1{
     padding-top: 30px;
  }
  /*.content .btn{
    background-color: #2a91d6;
    margin-top: 30px;
    width: 188px;

    
  }*/
  .loiich1 .glyphicon {
    color: #FFF152;
  }
  .quyenloikh1 .container-fluid{
   /* border: 1px solid black;*/
    border: 2px solid #cc0000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    width: 50%;
    height: auto;
  }
.quyenloikh p{
  text-align: justify;
}
.chu1-left{
  float: left;
  width: 84%;
}
.chu1-right1{
  width: 40px;
    height: 40px;
    border: solid 5px #F5DB64;
   
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float: right;
    margin-top: 30px;
    float: right;
}
.content .content_4{
  margin-top: 30px;
   margin-bottom: 30px;
}
.timhieungay btn{
  border-radius: 30%;
}
.btn {
   /* border-radius: 41px;*/
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    margin-bottom: 74px;
  }
  .btn {
    /*border-radius: 41px;*/
    font-size: 17px;
    line-height: 1.33;
    margin-top: 20px;
    padding: 6px 16px;
    /*background-color: #2a91d6;*/
}
.chuyenmuc1 .huongdan{
  color: #2a91d6;
}
.chuyenmuc2 .huongdan{
  color: #2a91d6;
}
h3{
  font-size: 20px;
}
.chu1-left p{
  text-align: justify;
}
.noidungtk ul li:hover{
  color:black;


}
.noidungtk a{
  color:white;
  
}

/*cop tu trang chu*/
/*ngay 6/7*/
.nhopwe input {
    float: left;
    width: 27px;
}
.dangkytk{
  padding-top: 30px;
  border: 1px solid #bcbdbf;
  background-color: #bcbdbf;
  width: 70px;
  height: 40px;
}
.text-right {
    text-align: left;
}
.dau1 img{
  float: right;
}
.dau2 img{
  float: right;
}
hr{
  color: black;
}
.batdau{
  color: white;
  font-size: 20px;
}
.anhlogo-footer img{
  width: 60px;
  height: 60px;
  float:left;
  margin-top: 20px;
}
.feature3 .truong{
  float: left;
  color: #2a91d3;
}
#feature3 .container #noidung{
  color: #d4d4d4;
  font-style:italic;
  /*font-family:font_line;*/
  /* font-family:Roboto-Italic;*/
}
#feature3 .container #coso{
  color: #d4d4d4;
  font-style:italic;
  /*font-family:font_line;*/
  /* font-family:Roboto-Italic;*/
}

.container {
    
}
.wowonline{
  padding-left: 10px;
  color: #d4d4d4;
}
.border1{
  border-bottom: 1px dashed #d4d4d4;
  padding-bottom: 19px;
  padding-top: 7px;
}
/*.border12{
  border-bottom: 1px dashed #d4d4d4;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 3px;
}*/
.khoahoc a{
  color: #d4d4d4;
}
.thuvien a{color: #d4d4d4;}
.vego img{}
.giua1 .container .row hr{
  color: black;
}
#feature3 .container .tieude .truong a{
    font-size: 23px;
}
#feature3 .container #coso {
    color: #d4d4d4;
    font-style: italic;
}

#feature3 .glyphicon {
    background-color: red;
    border-radius: 50%;
    color: white;
    float: right;
    font-size: 45px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.mobile_topbar .bars-navigation .fa{
  margin-top: -2px;
}
.content .container .nav .active a{
  font-size: 20px;
}
.thongtincanhan .container .btn .btn-danger{
  background-color: red;
}
.content .container .container-fluid .luuya{
  color: red;
  border: 1px solid red;
  border-radius: 41px;
  width: 1183px;
  height: 32px;
}
label{
  font-size: 17px;
}
#taikhoan{
  border: 1px solid #d4d4d4;
  padding: 40px;
}
.baihoca img{

}
.content .container .tab-content .hoanthanh1{
  background-color: #2a91d6;
  border-radius: 41px;
}
.content .container .tab-content .tenbai{
  padding-top: 10px;
  /*text-align: center;*/
}
.content .container .tab-content #baihocchinh_edit{
  
}
.content .container .tab-content .chuahoanthanh1{
  
  border-radius: 41px;
  width: 160px;
}
.content .container .tab-content #baihocchinh_edit .baihocchinh1 img{
  
  text-align: center;
}
.bh_bt{
  padding-left: 13px;
}
/*--------8/7------------*/
@media(min-width: 1056px)
{
  .logo img {
    display: block;
    margin: 0 14px;
    max-width: 120px;
}
}
@media(min-width: 1267px)
{
  .logo img {
    display: block;
    margin: 0 32px;
    max-width: 120px;
}
}
@media(min-width: 1280px)
{
  #content img {
    display: block;
    height: auto;
    max-width: 57%;
}
}
@media(min-width: 1920px)
{
  #content img {
    display: block;
    height: auto;
    max-width: 37%;
}
.col-xs-4 {
    width: 7.333%;
}
}
@media(min-width: 593px)
{
.col-xs-push-2 {
    left: -5.333%;
}
}
@media(min-width: 690px)
{
.col-xs-push-2 {
    left: 9.667%;
}
}
@media(min-width: 1119px)
{
.col-xs-4 {
    width: 21.333%;
}
}
@media(min-width: 1920px)
{
.col-xs-4 {
    width: 7.333%;
}
}
.img-thongbao{
  padding-top: 30px;
}
.wowonline:hover{
    color: #2990d3;
   
}
.thuvien a:hover {
    color: #2990d3;
}
.khoahoc a:hover {
     color: #2990d3;
}
a{
  color: #d4d4d4;
}
.border12 ul li{
  border-bottom: 1px dashed #d4d4d4;
  padding-bottom: 12px;
  padding-top: 7px;
  padding-left: 4px;
}
@media(min-width: 1920px){
  .col-lg-offset-3 {
    margin-left: 16%;
}
}
@media(min-width: 1280px){
  .col-lg-offset-3 {
    margin-left: -3%;
}
}
@media(min-width: 1280px){
  .col-lg-offset-3 {
    margin-left: -3%;
}
}
/*@media(min-width: 800px){
  .content .container .container-fluid .luuya {
    border: 1px solid red;
    border-radius: 41px;
    color: red;
    height: 58px;
    width: 753px;
}
}*/
#luuycapnhapthongtin{
  border: 1px solid red;
  border-radius: 41px;
}
.dungbolo {
    padding-bottom: 15px;
    padding-top: 7px;
}
@media(min-width: 800px)
{
  #footer .container button {
    background: #efb001 none repeat scroll 0 0;
    border: 1px none #efb001;
    border-radius: 50px;
    height: 40px;
    width: 115%;
}
}
@media(min-width: 679px)
{
  #footer .container button {
    background: #efb001 none repeat scroll 0 0;
    border: 1px none #efb001;
    border-radius: 50px;
    height: 40px;
    width: 115%;
}
#header .mobile_menu {
    margin-left: 79px;
}

}
/*@media(min-width: 1920){
  #header .mobile_menu {
    margin-left: 35px;
   
}
}*/
@media(min-width: 1280px)
{
  
#header .mobile_menu {
    left: 60px;
}

}
@media(min-width: 1920px)
{
  
#header .mobile_menu {
    margin-left: 269px;
}

}
/*----------------kiemtra1--------------------*/
  #header1{
    width: 100%;
  background-color: #0099ff;
 padding-top: 10px;
 padding-bottom: 10px;
 
  }
