.user_avatar {    padding: 10px 0;float:none;}
.topbar{overflow: inherit}
.header_user{padding:0px 10px}
.header_user ul li{margin-top:0;float:none;}
.header_user ul li a{color:#333;font-size: 15px;padding:10px;}
.taikhoan .noidungtk ul{width:200px;right:0;left:auto;}
.taikhoan .noidungtk ul li i{width:20px;margin-right: 10px;    text-align: center;}
#page{overflow-x: hidden}
ul{list-style: none;margin:0;padding:0}
.padd-15{padding:15px}
.lock{  width: 40px;  line-height: 40px;  height: 40px;  border-radius: 50%;  color:#fff;  position:absolute;  bottom:10px;  left:10px;  font-size: 20px;  }
.fa-lock{  background: rgba(185,45,44,0.8);  }
.fa-unlock-alt{  background: rgba(243,178,0,0.8);  }
.baseImg{width:100%;height:100%}
.nDay{font-weight: normal;font-size: 13px;margin-left:20px}
.error{color:red}
.success{color:blue;}
header .topbar{padding-bottom: 1px;z-index:2000;background: #0099ff;width:100%;left:0;position:fixed;-webkit-transition: all 0.3s ease;  -moz-transition: all 0.3s ease;  -ms-transition: all 0.3s ease;  -o-transition: all 0.3s ease;  transition: all 0.3s ease; }
header .topbar .main-topbar{margin: 0 auto;height:60px}
header .topbar .main-topbar .bar i{color:#fff;font-size: 28px;line-height: 60px}
header .topbar .main-topbar ul{line-height: 60px;}
header .topbar .main-topbar ul li{position:relative;width: 200px}
header .topbar .main-topbar ul li img{width:35px;height:35px;border-radius: 50%}
header .topbar .main-topbar ul li:hover ul.dropdown-menu{display:block}
header .topbar .main-topbar ul.dropdown-menu{position: absolute;top:50px;right:0;max-width: 300px}
header .topbar .main-topbar .menu ul li div{color:#fff}
header .topbar .main-topbar ul li a i{width:20px;text-align: center;margin-right:10px;}
header .topbar .main-topbar .dropdown-menu>li>a{    padding: 10px 10px;}
/*menu*/
header nav.menu{  -webkit-transition: all 0.3s ease;  -moz-transition: all 0.3s ease;  -ms-transition: all 0.3s ease;  -o-transition: all 0.3s ease;  transition: all 0.3s ease;  left:-250px;  position:fixed;top:0;bottom:0;overflow-y: auto;  width:250px;    box-shadow: 1px 2px 3px #969696; }
header nav.menu ul li{padding-left:20px;margin-right: 0;  border-bottom: 1px solid #b6b6b8;}
header nav.menu ul li a{ font-weight: bold;line-height: 50px;color:black;height: 50px;}
header nav.menu ul li a:hover{color:#0099ff;}
.effect-menu{  -webkit-transition: all 0.3s ease;  -moz-transition: all 0.3s ease;  -ms-transition: all 0.3s ease;  -o-transition: all 0.3s ease;  transition: all 0.3s ease;  }
/*content*/
.content{    padding-top: 60px;  display: block;  overflow: hidden;}
.content section h3{margin:10px 0 10px 0;}
.content section ul.itemsLess li span{min-height:367px;width:100%;padding:15px;border: solid 1px #d5d5d5;  border-radius: 10px;float:left;    box-shadow: 0 2px 1px #ccc;}
.content section ul.itemsLess li {padding:15px;min-height:367px}
.content section ul.itemsLess li div.image{position:relative;border: solid 1px #d5d5d5;}
.content section ul.itemsLess li .title {  margin: 10px 0;  color: #414141;  font-size: 15px;  }
.content section ul.itemsLess li .title a{color:#337ddc;font-weight: bold}
.btnA{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 1px 1px 0px #fff;
    color: #000;
    font-weight: bold;
    padding: 0px 30px;
    text-decoration: none;
    line-height: 31px;
    min-height: 31px;
    display: inline-block;
}
.btnFinish{background: #ffba00;
    background-image: -webkit-linear-gradient(top, #ffba00, #e6a800 );
    background-image: -moz-linear-gradient(top, #ffba00, #e6a800 );
    background-image: -ms-linear-gradient(top, #ffba00, #e6a800 );
    background-image: -o-linear-gradient(top, #ffba00, #e6a800 );
    background-image: linear-gradient(to bottom, #ffba00, #e6a800 );
}
.btnStart{
    background: #dbdbdb;
    background-image: -webkit-linear-gradient(top, #dbdbdb, #a5a5a5 );
    background-image: -moz-linear-gradient(top, #dbdbdb, #a5a5a5 );
    background-image: -ms-linear-gradient(top, #dbdbdb, #a5a5a5 );
    background-image: -o-linear-gradient(top, #dbdbdb, #a5a5a5 );
    background-image: linear-gradient(to bottom, #dbdbdb, #a5a5a5 );
    text-shadow: none;
    color: #656565;
}
.sl_pack span,.sl_pack input[radio]{float:left}
.content .btn-question .main-msg{float:left;display:none}
.content .btn-question .main-msg .msg{padding-left:10px}
.content .btn-question .main-err i{background-color: #fff;color:red;    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;}
.content .btn-question .main-success i{background-color: #fff;color:#72a42b;    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;}
.content .title_detail{float:left;width:100%;border-bottom:1px solid #ccc;margin:20px 0;}
.content .title_detail h3{float:left;padding-bottom:5px;margin-bottom: 0;color: #0099ff;}
.content .title_detail a{float:right;}
.content .fr{position:relative;min-height:500px;border:1px solid #929294;width:100%;text-align:center;float:left;margin:50px 0;    padding: 60px 0 60px 0;}
.content .progress-out{    border-radius: 41px;
    border: 9px solid #e0e0e0;
    width: 280px;float:left}
.content .progress-in{    position: relative;
    border-radius: 22px;
    background: #fefefe;
    background: -webkit-linear-gradient(#fefefe, #c5c8cd);
    background: -o-linear-gradient(#fefefe,  #c5c8cd);
    background: -moz-linear-gradient(#fefefe,  #c5c8cd);
    background: linear-gradient(#fefefe, #c5c8cd);
    padding:15px 45px 15px 15px;
    box-shadow: 1px 1px 1px #ccc,-1px -1px 1px #ccc;}
.content .progress{height:10px;margin:0}
.content .percent{position: absolute;
    right: 9px;
    top: 7px;
    font-weight: 600;
    font-size: 16px;
    color:#333333;
}
.content .progress-bar{
    background: #0185cf;
    background: -webkit-linear-gradient(left, #0185cf , #72d1f6);
    background: -o-linear-gradient(right, #0185cf, #72d1f6);
    background: -moz-linear-gradient(right, #0185cf, #72d1f6);
    background: linear-gradient(to right, #0185cf , #72d1f6);
}
.content .fr-head,.content .ques{float:left;    margin: 16px 16px 16px 16px;}
.content .fr-head{
     position: relative;
     left: 50%;
     transform: translateX(-50%);
}
.content .ques{margin-top:16px}
.content .ques span{color:#0088cc;font-weight: bold}
.content .fr article {
    float: left;
    width: 100%;
    margin-bottom:50px
}
.content section img{width:100%;}
.content .btn-question{
    background:#eaeaea;
    padding:20px;
    width:100%;    float: left;position:absolute;bottom:0
}
.content .btn-question .btn,.content .btn-question-result .btn{width:120px;border:none;border-radius: 20px;margin:0}
.content .btn-question .btnFinish,.content .btn-question-result .btnFinish{background: #72a42b;color:#fff;float:right}
.content .fr article .image{
    width:300px;
    height: auto;
    margin: 0 auto;
    margin-bottom:10px
}
.content .fr article h3 {
    color: #0099ff;
}
.content .fr .sec b{
    font-size: 37px;
    padding-left: 20px;
    color: #6aac2e;
}
.content .fr article .content{
    margin-top:20px;
    color:#0088d4;padding:0;font-weight: bold;
}
.content .fr-head .txt_percent{
    position: absolute;
    top: -19px;
    right: 92px;
    font-size: 10px;
}
.content .module{margin:40px 0;float:left;width:100%; }
.content .module_image img{margin-top:10px}
.content .title-module{margin: 0 0 20px 0;  font-size: 16px; float:left;width:100% }
.content .part .image{position:relative}
.content .part{background:#eaedf2;padding:15px;width:48%;float:left;margin-bottom:40px;min-height:452px}
.content .part .image img{height:250px}
.content .part .image .lock{text-align: center;}
.content .part:nth-child(2){float:right}
.content #content_question ul li input[type=text]{    left: 50%;
    position: relative;
    transform: translateX(-50%);width:300px}
.content .page-result{margin:50px 0;float:left}
.content .page-result .fr-head{margin-top: 60px;}
.content .page-result .fr-head .txt_percent{    right: 6px;}
.content .page-result h5{    margin-top: 160px;
    font-size: 33px;
    text-transform: uppercase;
    color: #ff4900;
    font-weight: bold;
    text-align: center;}
.content .page-result p{text-align: center;    font-size: 15px;
    font-weight: 600;padding:20px;}
.content .page-result .btn-question .btn{position:relative;left:50%;transform:translateX(-50%);}
.content .title-module .fr-head{float:right;    position: relative;
    left: 0;
    transform: translateX(0);}
.content .title-module .title{    float: left;
    margin-top: 34px;
    font-weight: bold;
    font-size: 20px;}
.content .title-module .fr-head .txt_percent{right:6px}

#content_question{float:left;width:100%}
#content_question article ul li input{float:left;width:auto}
#content_question article ul {    width: 600px;  margin: 0 auto;}
#content_question article ul li,#content_question article ul li label{    float: left;}
#content_question article ul li label{margin-left:10px;font-weight: normal}
#content_question .content_script{padding:5%;}
#content_question #script{border:1px solid #eaeaea;border-radius: 10px;padding:5%;text-align: left;background:#f0f0f0}
#content_question .voca{text-align: left;margin:30px 0;width:100%;float:left}
#content_question .voca h3{margin:0;color:#ff4802;font-size: 20px;text-transform: capitalize;font-weight: bold}
#content_question .voca h3 span{
    color: #333;
    text-transform: lowercase;
    font-size: 16px;
    margin-left: 20px;}
#content_question .voca i{float:left;line-height: 30px;}
#content_question .voca .main{width:100%;float:left}
#content_question .voca audio{width:30px;opacity: 0}
#content_question .voca .audio{margin-left:20px;float:left;position: relative;background:#0188cc;border-radius: 50%;width:30px;height:30px}
#content_question .voca .audio:before{
    content: "\f028";
    font-family: FontAwesome;
    position:absolute;
    top:0;
    left: 8px;
    line-height: 30px;
    color:#fff;
}
#content_question .voca .bor-das{border-bottom:1px dashed #ccc;}
#content_question .voca .padBot{padding:15px 0}
#content_question .text ul{width:100%}
#content_question .text ul li{float:none;    margin: 0 auto;}
.content #content_question ul li input[type=text]{width:100%}
.content .content_script .micro{margin:20px 0}
.record{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    font-size: 50px;
}
.nonRecord{

    color: #0099ff;
    border: 1px solid #0099ff;

}
.recording{
    color:red;
    border: 1px solid red;
}
.btnFinishNew {
    background: #72a42b;
    color: #fff;
    width: 120px;
    border: none;
    border-radius: 20px;
    margin: 0;
}
.btnRadius{
    width: 120px;
    border: none;
    border-radius: 20px;
}
/*record*/
.content .main-record{
    padding:0;
}
.main-record #content_question .content_script{padding:5% 5% 0 5%;}
.main-record #content_question .content_script .audio{padding:80px 0;}
.main-record #content_question .content_script .btnScript {    margin-bottom: 30px;}
.content .nav-tabs{margin:30px 0;}
.content .module .btnA{margin-top:10px;}
.top_menu-x{margin-top:20px;}
.header_user .taikhoan .user_avartar{float:left;margin-top: 9px}
.content .module .baseImg{width:130px;}
@media only screen and (max-width : 480px) {
    header .topbar .main-topbar .bar{width:20%}
    header .topbar .main-topbar .menu{width:80%}
}
@media (min-width: 1267px){
    .logo img {
        margin: 0 auto;
    }
}
@media (min-width: 1056px){
    .logo img {
        margin: 0 auto;
    }
}
@media (min-width: 767px){
    .logo img {
        margin: 0 auto;
    }
}
.img-part{max-width:300px;margin:0 auto}
.text-pron{font-size:22px;}
.btn-question-result{
	background: rgb(234, 234, 234);
background: #eaeaea;
    padding: 20px;
    width: 100%;
    float: left;
}
.btn-question-result a{float:left}
#myModal .msg-popup{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
#myModal .msg-popup .title{
    text-align: center;
    color: #a2020a;
    font-weight: bold;
}

#footer .container button{
    width: 200px;
    margin: 0 auto;
}
.student .student-description{
    min-height:60px;display:block;margin:0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pack_content .khoahoc_row_3item {
    display: block;
    min-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

.pack_content .khoahoc_row_3item .image img{max-height:100px}
.pack_content .khoahoc_row_3item .btn-pack{margin-top:10px}
.student p{margin:0}
.student .gachduoi{margin-top:20px}