@font-face {
    /*font-family: font_strong;*/
    font-family: arial;
    src: url('../fonts/Roboto-Black.ttf') format('truetype'),
    url('../fonts/Roboto-Black.eot#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul li {
    list-style: none;
}

#header nav {
    background-color: #0099ff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#header nav img {
    float: left;
}

#header nav p {
    padding-top: 29px;
}

#header .collapse {
    padding-left: 30%;
}

/* an hien 2 menu*/
@media (min-width: 767px) {
    #header .desktop_menu { /* hien desktop menu */
        display: block;
    }

    #header .mobile_menu { /* an mobile menu*/
        display: none;
    }

    #content img {
        display: block;
        height: auto;
        max-width: 78%;
    }

    /*----------------7/7-------------------------*/
    #header .desktop_menu .container .row .left {
        padding-left: 4px;
    }

    #header .desktop_menu .container .row .right {
        padding-left: 8px;
        padding-right: 2px;
    }

    .logo img {
        display: block;
        margin: 0 8px;
        /*max-width: 120px;*/
        max-width: 70px!important;
    }

}

@media (max-width: 767px) {
    #header .desktop_menu { /* an desktop menu */
        display: none;
    }

    #header .mobile_menu { /* hien mobile menu*/
        display: block;
    }
}

/*@media(max-width: 800px){
.container {
    width: 790px;
}
}*/
@media (min-width: 1690px) {
    /*.container {*/
        /*!* width: 1544px;*!*/
        /*width: 1880px;*/
    /*}*/

    #content img {
        display: block;
        height: auto;
        max-width: 35%;
    }

    .top_menu.left li a {
        font-size: 20px;
        padding-right: 1.2vw;
    }

    .top_menu.right li a {
        font-size: 20px;
        padding-right: 1.2vw;
    }

    .top_menu li a {
        font-size: 16px;
        color: #000;
        /*text-transform: uppercase;*/
        font-weight: bold;
        /* line-height: 108px;*/
        /*line-height: 178px;*/
    }

    .dropdown_menu li {
        padding-bottom: 29px;
    }

    .desktop_menu .container .row .logo img {
        display: block;
        margin: 0 auto;
        /*max-width: 195px;*/
    }

    .desktop_menu .container .row .top_menu li a {
        color: #545353;

        font-weight: bold;
        /*line-height: 149px;*/
        /*text-transform: uppercase;*/
    }

    .desktop_menu .container .row .top_menu li ul li a {
        color: #545353;

        /* font-weight: bold;*/
        line-height: 18px;
        margin-top: 20px;
        /* text-transform: uppercase;*/
    }

    .desktop_menu .container .row .top_menu .has_sub .dropdown_menu {
        /*background: #fff none repeat scroll 0 0;*/
        /*border: 1px solid #eee;*/
        /*margin: 0;*/
        /*padding: 0;*/
        /*position: absolute;*/
        /*top: 20px;*/
        /*width: 230px;*/
    }

    .desktop_menu .container .row .top_menu.right li a {
        font-size: 20px;
        padding-right: 6px;
    }
}

/*ket thuc 2 manu*/
#nav .container {
    padding-top: 50px;
}

#nav .container #tieude {
    font-size: 21px;
    padding-left: 30px;
    padding-top: 50px;
    text-align: center;
}

#nav .container a {
    padding-bottom: 20px;
}

#calltoaction .jumbotron h3 {
    border: 1px solid #fff;
    background-color: #4d6f61;
    width: 560px;
    height: 75px;
}

#calltoaction .jumbotron {
    padding: 150px 0px;
    text-align: center;
    background: url(../img/slide1.jpg) center no-repeat;
    background-size: cover;
    margin-bottom: 0px;

}

#calltoaction .jumbotron h4 {
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 30px;
    border: 1px solid #748a97;

}

#calltoaction .jumbotron p {

    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#calltoaction .jumbotron p img {
    margin-left: 110px;
}

#calltoaction .jumbotron #hot {
    color: white;
    opacity: 0.5;
    font-size: 20px;
    border: 1px solid #748a97;
    background: #748a97;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#content .jumbotron {
    height: auto;
}

#content .row {
    padding: 30px 0;
}

#content .container .xemthem {
    float: right;
    font-size: 19px;
    color: #ba0804;
}

#content .container h3 {
    color: #ba0804;
}

#content .container .lead {
    text-align: justify;
}

/*footer*/
#footer #feature1 {
    background: #3a3a3a;
    padding-top: 0px;
    padding-bottom: 0px;
}

#footer .container button {
    border: 1px #efb001;
    width: 100%;
    background: #ba0804;
    height: 45px;
    border-radius: 20px;
    box-shadow: 0 0 1px #000;
    text-shadow: 0 0 1px #000;
    color: white;
}

/* #footer .container .thamgia{
     padding-left: 40%;
 }*/
#footer .container h3 {

    color: #FFFFFF;

}

/*#footer .container button{
    margin-left: 250px;
}*/
#footer .container #footer1 {
    margin-top: -37px;
}

#footer #footer1 .container button {
    text-align: center;
}

#footer #footer1 .container #bang {
    width: 100%;
}

/* #feature2 h2{
     padding-left: 36%;
 }*/
#footer #feature2 {
    background: #3E67B9;
}

#footer #feature2 h2 {
    margin-top: 12px;
    padding-bottom: 2px;
}

#feature3 {
    background-color: #d9e3ed;
    /*color: white;*/
}

#footer #feature3 {
    padding-top: 20px;
}

#feature3 .container .truong {
    font-size: 23px;
    /*padding-top: 30px;*/
    padding-top: 10px;
}

#feature3 .container p {
    padding-top: 0px;
    padding-left: 30px;
}

#feature3 .container #coso {
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer #feature3 #anhfooter .container img {
    float: left;
    width: 100%;
}

/*#feature3 .container #ten{
    padding-left: 7px;
}*/
#feature3 .container #anhfooter {
    padding-top: 10px;

}

#feature3 .container .mangxahoi p {
    border-bottom: 1px solid #919394;
}

#feature3 .container .thuvien p {
    border-bottom: 1px solid #919394;

}

#feature3 .container .vego {
    padding-top: 10px;
}

#feature3 .container .vego p {
    border-bottom: 1px solid #919394;
}

#feature3 .container .khoahoc p {
    border-bottom: 1px solid #919394;
    /*padding-top: 12px;*/
}

.khoahoc h5 {
    /*padding-top: 3px;*/
}

#feature3 .container .vego h5 {
    padding-top: 3px;
    font-size: 13px;
}

#feature3 .glyphicon {
    float: right;
    font-size: 45px;

    background-color: red;
    /*width: 150px;
    height: 30px;*/
    border-radius: 50%;

    margin-bottom: 20px;
    margin-right: 20px;
    color: white;
}

#btn-top {
    /* width: 150px;
 height: 30px;
 float: right;*/
    /* border-radius: 50%;*/
}

/* ---------- UPDATE 29/06/2016 ------------------*/

/* TOP BAR*/
.topbar {
    background: #0099ff;
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.welcome_text {
    color: #fff;
    float: left;
}

.welcome_text {
    padding: 10px 0;
}

.welcome_text img {
    max-width: 35px;
}

/*social*/
.social {
    margin: 0 0 0 40px;
    display: inline-block;
    padding: 8px 0px;
    list-style: none;
}

.social li img {
    max-width: 25px;
}

.social li {
    float: left;
    margin: 0 5px;
}

.user_avatar img {
    width: 35px;
    height: 35px;

    border-radius: 50%;
}

.user_avatar {
    float: left;
    overflow: hidden;
}

.header_user {
    text-align: left;
    float: right;
    padding: 7px 0px;
}

.header_user span {
    padding-left: 10px;
    padding-top: 8px;
    display: inline-block;
    color: #fff;
}

.logo img {
    max-width: 120px;
    /* max-width: 161px;*/
    display: block;
    margin: 0 auto;
}

.logo {
    display: block;
    text-align: center;
}

.top_menu.right {
    float: right;
    text-align: left;
}

.top_menu.left {
    float: left;
    text-align: left;
}

.top_menu {
    padding: 0;
    margin: 0;

}

.top_menu li {
    float: left;
}

.top_menu li a {
    font-size: 17px;
    color: #545353;
    /*text-transform: uppercase;*/
    font-weight: bold;
    /*line-height: 108px;*/

}

.top_menu li a:hover {
    color: #0099ff;
}

.top_menu.left li:last-child a {
    padding-right: 0;
}

.top_menu.left li a {
    padding-right: 5vw;
}

.top_menu.right li:first-child a {
    padding-left: 0;
}

.top_menu.right li a {
    padding-left: 5vw;
}

@media (max-width: 1200px) {
    .top_menu.left li a {
        padding-right: 3vw;
    }

    .top_menu.right li a {
        padding-left: 3vw;
    }

}

@media (max-width: 1024px) {
    .top_menu.left li a {
        font-size: 14px;
        padding-right: 1.2vw;
    }

    .top_menu.right li a {
        font-size: 14px;
        padding-left: 1.2vw;
    }

}

/*@media(min-width: 900px){
  .container{
    width: 872px;
  }
}*/
/*@media(min-width: 804px){
  .top_menu.left li a {
    font-size: 14px;
    padding-right: 1.2vw;
}
.top_menu.right li a {
    font-size: 14px;
    padding-right: 1.2vw;
}
}*/
.top_menu .has_sub .dropdown_menu {
    display: none;
}

.mobile_topbar.left {
    float: left;
}

.mobile_topbar.right {
    float: right;
}

.mobile_topbar.right ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.mobile_topbar.right ul li a {
    padding-left: 20px;
    display: inline-block;
    color: #eee;
    font-size: 16px;
}

.mobile_topbar.right ul li {
    float: left;
    padding: 0;
    margin: 0;
}

.mobile_topbar.right ul {
    padding: 25px 0px;
    margin: 0;
    display: inline-block;
}

.top_menu .has_sub:hover .dropdown_menu {
    display: block;
}

.top_menu .has_sub .dropdown_menu li a {
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 15px;
    display: inline-block;
}

.top_menu .has_sub .dropdown_menu li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.top_menu .has_sub .dropdown_menu {
    position: absolute;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #eee;
    /*top: 80px;*/
    width: 230px;
}
.top_menu .has_sub ul.last{
    left:50%;
}
.desktop_menu {
    background: #fff;
    padding: 5px 0px;
}

.mb-menu-title a {
    float: left;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    padding: 20px 0;
}

.mobimenu .main_menu li em:hover {
    color: #0099ff;
}

.mobimenu .main_menu li em {
    float: right;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 15px 0 0 0;
    font-style: normal;
}

.mobimenu .main_menu li a:hover {
    text-decoration: none;
    color: #0099ff;
}

.mobimenu .main_menu li a {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0px;
    display: inline-block;
}

.mobimenu .main_menu {
    margin: 0;
}

.mobimenu .sub_menu, .mobimenu .subsub_menu {
    padding-left: 15px;
}

.mobile_topbar {
    width: auto !important;
}

#footer #feature3 #congty {
    padding: 50px 0;
    font-size: 20px;
}

#content .giua1 {
    background-color: #ECE8E8;
}

/*----------ngay 6/7-------------*/
.nhopwe input {
    float: left;
    width: 27px;
}

.dangkytk {
    padding-top: 30px;
    border: 1px solid #bcbdbf;
    background-color: #bcbdbf;
    width: 70px;
    height: 40px;
}

.text-right {
    text-align: left;
}

.dau1 img {
    float: right;
}

.dau2 img {
    float: right;
}

hr {
    color: black;
}

.batdau {
    color: white;
    font-size: 20px;
}

.anhlogo-footer img {
    width: 60px;
    height: 60px;
    float: left;
    margin-top: 20px;
}

.feature3 .truong {
    float: left;
    color: #2a91d3;
}

#feature3 .container #noidung {
    color: #d4d4d4;
    font-style: italic;
    /*font-family:font_line;*/
    /* font-family:Roboto-Italic;*/
}

#feature3 .container #coso {
    color: #d4d4d4;
    font-style: italic;
    /*font-family:font_line;*/
    /* font-family:Roboto-Italic;*/
}

.container {

}

.wowonline {
    padding-left: 10px;
    color: #d4d4d4;
}

.border1 {
    border-bottom: 1px dashed #d4d4d4;
    padding-bottom: 17px;
    padding-top: 14px;
}

.border12 ul li {
    border-bottom: 1px dashed #d4d4d4;
    padding-bottom: 7px;
    padding-left: 4px;
    padding-top: 1px;
}

.khoahoc a {
    color: #d4d4d4;
}

.thuvien a {
    color: #d4d4d4;
}

.vego img {
    margin-top: -9px;
}

.giua1 .container .row hr {
    color: black;
}

/*-------------------------7/7--------------------------*/
.modal-title {
    float: left;
}

#email {
    margin-top: 20px;
    padding: 30px 10px 10px 10px;
}

#pass {

    padding: 10px 10px 10px 10px;
}

.nhopw {
    float: left;
    padding-top: 10px;
}

.nhopw .quenmk {
    float: left;
    padding-left: 90px;
    padding-top: 3px;
}

.xacnhan {
    padding-top: 20px;
}

.modal-footer {
    /*background-color:;*/
    text-align: center;
}

.nhopwe {
    float: left;
}

/*-------------------dang ki ̃7/7-------------------------------*/
.dangki {
    float: left;
    margin-left: 10px;
}

.nhaplaipass {
    border: 1px solid #E3E2E2;
    background-color: #E3E2E2;
    width: 50px;
}

.tieude {
    float: left;
}

input {
    width: 280px;
    float: left;
}

.remember {
    float: left;
}

/*----------------------7/7---------------------*/
.vego .img-thongbao {
    padding-top: 30px;
}

.mangxahoi .gg {
    color: #d4d4d4;
}

#content .dau1 .container .row .lead {
    font-size: 17px;
}

#content .giua1 .container .row .lead {
    font-size: 17px;
}

#content .dau2 .container .row .lead {
    font-size: 17px;
}

#fearture3 .container .border1.thuvien a:hover {
    color: #2a91d6;
}

.thuvien a:hover {
    color: #428bca;
}

.wowonline:hover {
    color: #428bca;

}

#feature3 .container.vego .border1 a:hover {
    color: #428bca;
}

.khoahoc a:hover {
    color: #428bca;
}

.mangxahoi .gg:hover {
    color: #428bca;
}

/*------------8/7------------*/
@media (min-width: 1056px) {
    .logo img {
        display: block;
        /*margin: 0 14px;*/
        /*max-width: 120px;*/
    }
}

@media (min-width: 1267px) {
    .logo img {
        display: block;
        margin: 0 32px;
        max-width: 120px;
    }
}

@media (min-width: 1280px) {
    #content img {
        display: block;
        height: auto;
        max-width: 57%;
    }
}

@media (min-width: 1920px) {
    #content img {
        display: block;
        height: auto;
        max-width: 37%;
        padding-left: 9px;
    }

    .col-xs-4 {
        width: 7.333%;
    }
}

@media (min-width: 593px) {
    .col-xs-push-2 {
        left: -5.333%;
    }
}

@media (min-width: 690px) {
    .col-xs-push-2 {
        left: 9.667%;
    }
}

@media (min-width: 1119px) {
    .col-xs-4 {
        width: 21.333%;
    }
}

@media (min-width: 1920px) {
    /*.col-xs-4 {*/
        /*width: 7.333%;*/
    /*}*/
}

a:hover {
    color: #ba0804;
}

.desktop_menu .container .row .top_menu li a:hover {
    color: #ba0804;
}

.dungbolo {
    padding-bottom: 15px;
    padding-top: 46px;
}

.header_user ul li {
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}

.header_user ul li a {
    font-size: 17px;
    color: white;
}

.header_user ul li:hover .dropdown-menu{
    display: block;
    top:53px;
}

.text-rightdesktop {
    float: left;

}

.dangnhap_des {
    float: right;
}

.dangnhapdangxuat_desktop ul li {
    float: right;
    margin-left: 20px;

}

.dangnhapdangxuat_desktop ul li a {
    color: white;

}

.matmamk {
    float: left;
    padding-top: 9px;
    background-color: #C9C9C9;
}

.matmamk {
    float: left;
    padding-top: 9px;
}

.dieukhoan {
    padding-top: 10px;
}

.tendangky {
    top: 5px;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 55.429px;
    padding: 15px;
}

.cach {
    padding-top: 50px;
}

.dangnhapcach {
    padding-top: 40px;
}

.ghinhomk12 {
    padding-top: 2px;
}

.nutdangnhaphethong {
    width: 100%;
    background-color: #327cdb;
}

.quenmk1 {
    float: right;
}

.lead {
    padding-left: 20px;
}

.thamgiangay {
    padding-top: 7px;
}

.khoahoc {
    padding-top: 0px;
}

.khoahoc a {

}

.thuvien {

}

/*@media(min-width: 1510px)
{
  #footer #feature1 img {
    display: block;
    height: auto;
    max-width: 62%;
}
.dungbolo h3{
  padding-right: 87px;
}
}*/
@media (min-width: 1358px) {
}

@media (min-width: 1510px) {

    .dungbolo h3 {
        padding-right: 87px;
    }
}

@media (min-width: 894px) {
    .dungbolo {
        padding-bottom: 15px;
        padding-top: 13px;
    }
}

@media (min-width: 1099px) {
    .dungbolo {
        padding-bottom: 15px;
        padding-top: 34px;
    }
}

@media (min-width: 1527px) {


}

@media (min-width: 1365px) {
    .dungbolo {
        padding-bottom: 15px;
        padding-top: 14px;
    }
}
/*test*/
.kiemtratest{
  padding-bottom: 40px;
  padding-top:20px;
}
#header-2{
  background-color: #0099ff;
}
.thoigian{
  color: white;
}
.baitest{
  padding-top: 40px;
  padding-right: 40px;
}
.huongdanphannay{
  border-bottom:1px solid #858585;
  padding-top: 30px;
  padding-bottom: 20px;
}
.cauhoi{
  padding-top: 30px;
}
.cauhoi{
  padding-left: 30px;
  padding-bottom: 30px;
}
.cauhoi .cau1{
 border: 1px solid #66a027;
 padding-bottom: 10px;
 padding-top: 10px;
 padding-right: 20px;
 padding-left: 20px;
 border-radius: 41px;
}
.noidungcauhoi{
  padding-left: 19px;
}
.khoangcachcauhoi {
  padding-bottom: 40px;
}

.tuvungvanguphap{
  font-size: 20px;
}
.phantrang ul{
  border-bottom:1px dashed black;
  padding-bottom: 50px;
}
@media(max-width: 438px){
  /*.phantrang ul li {
    border: 1px solid black;
    border-radius: 12px;
    display: inline;
    padding: 5px;
}*/
}
@media(max-width: 630px){
  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 113px;
}
}


.nuttiep_huy btn{
  width: 122px;
}
#header-3{
  background-color: #0099ff;
}
#header-3 .btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    margin-bottom: 12px;
    margin-top: -7px;
}
/*------------textright 4-------------------*/
.text-right4{
  float: right;
}
@media(max-width: 397px){
  #header-3 .btn-default {
    
    margin-top: -80px;
}
}
#header-3 .btn-default {
    
    color: red;
   
}
/*---------------kiemtra 4--------------*/
.trinhdocuaban{
  border:1px solid #858585 ;
  padding-bottom: 50px;
  padding-top: 50px;
}
.content3{
  margin-bottom: 80px;
}
/*@media(max-width: 355px){
  #header-3 .btn-default {
    
    margin-top: -80px;
}
}*/
/*-------------------kiem tra 5---------------*/
.content5 .container a{
  color: #0088c7;
}
@media(max-width: 362px){
  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 13px;
}
}
.nutchay{
  border:1px solid black;
  padding-bottom: 80px;
  padding-top: 90px;
}
/*---kiem tra 1---------*/
.text-right6{
  float: left;
}
.text-right7{
  float: right;
}
@media(min-width: 1066px){
  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 499px;
}
}
@media(min-width: 951px){
  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 499px;
}
}
@media(min-width: 870px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 276px;

}
}
@media(min-width: 776px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 276px;

}
}
@media(min-width: 692px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 276px;

}
}
@media(min-width: 649px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 257px;

}
}
@media(min-width: 632px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 235px;

}
}
@media(min-width: 632px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 211px;

}
}
@media(min-width: 595px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 198px;

}
}
@media(min-width: 584px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 184px;

}
}
@media(min-width: 569px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 173px;

}
}
@media(min-width: 568px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 159px;

}
}
@media(min-width: 548px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 153px;
}
}
@media(min-width: 541px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 136px;

}
}
@media(min-width: 527px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 121px;

}
}
@media(min-width: 515px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 109px;

}
}
@media(min-width: 504px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 93px;

}
}
@media(min-width: 485px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 64px;

}
}
@media(min-width: 462px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 43px;

}
}
@media(min-width: 444px){

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 20px;

}
}
/*@media(min-width: 360px)
{

  #header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: -41px;

}
}*/
#header-1 .container .row .btn-default {
    color: red;
    margin-bottom: 22px;
    margin-left: 713px;
}
p {font-size: 17px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      
  }
  .bg-2 { 
      
  }
  .bg-3 { 
      
  }
  .bg-4 { 
      
  }
.btn {
    /*border-radius: 41px;*/
    /*font-size: 17px;*/
    /*line-height: 1.33;*/
    /*margin-top: 20px;*/
    /*padding: 6px 16px;*/
    /*background-color: #2a91d6;*/
}
.bandasansang{
  border: 1px solid #ccc;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.kiemtratrinhdo{
  color: white;
  float: left;
}
#header-1 .container .row .btn-default{
  margin-bottom: 22px;
  margin-left: 699px;
  color: red;
}
@media(min-width: 1920px){
  #header-1 .container .row .btn-default {
   margin-bottom: 22px;
   color: red; 
   
    margin-left: 1177px;
}
}
.text-right1{
 text-align: right;
}
@media(min-width: 1280px){
  .text-right1 {
    left: 239px;
    padding-left: 56px;
    text-align: right;
}
.text-right2{
  left: 196px;
  }}
  .text-right2{

  }
  .text-right1{}
  @media(min-width: 1920px){
    .text-right2{
        left: 642px;
    }
    .text-right1{
      left: 809px;
    }
    /*.col-xs-4 {*/
    /*width: 9.333%;*/
    /*}*/
    }
.container-fluid {
    margin-bottom: 30px;
}
.pull-right {
    float: none !important;
}
/*Tien*/
#content .content-first .container h3{color: #ee1c27;}
.show-image{margin: auto;}
.container-title {padding: 20px 0;margin: 0;background-color: #2a91d6;}
.container-title p{color:  white;}
.container-fluid{margin-bottom: 0;}
.content-second{margin: 5% 0;}
.content-second .content-second-video{width:92%;padding: 3%; background: #ccc;}
.content-second .glyphicon{color: #2891d3;}
.content-second-list{margin-top: 30px;}
.content-second-list strong{padding-left: 15px;}
.content-second-list p{padding-top: 20px; margin-bottom: 10px; font-size: 18px;}
.content-second-list a{background: #f6931e; color: white;}
.content-second-list .btn-lg{padding: 10px 16px 16px;font-size: 18px;border-radius: 6px;}
.content-third{background: linear-gradient(90deg, #d7e2de 0%, #f8faf5 50%, #d7e2de 100%);opacity: 0.95;}
.content-third strong{margin-top: 5%;}
.content-third,.content-fourth h3{padding: 0;font-size: 24px;margin: 20px 0 10px;}
.content-third .content-third-image{margin: auto; margin-bottom: 10%;}
.content-third .content-third-row{padding-top: 60px;}
.content-third-fsize{font-size: 20px;}
.content-fourth h3{padding-bottom: 4%; font-size: 24px;}
.anhup,.anhupduoi{margin-bottom: 10px;position: relative; padding-left: 0;}
.info_cnt {position: relative;overflow: hidden;}
.caption.full-caption.big{top: 100%;margin-top: -50px;}
.caption.full-caption{position: absolute;left: 0;width: 99%;height: 100%;background-color: #2a91d6;padding: 15px;}
.caption {color: #fff;z-index: 100;-webkit-transition: all 300ms ease-out;-moz-transition: all 300ms ease-out;-o-transition: all 300ms ease-out;-ms-transition: all 300ms ease-out;transition: all 300ms ease-out;}
.full-caption .title {text-align:center;line-height: 1.4;border-bottom: solid 1px #fff;margin-bottom: 3px;display: block;padding-bottom: 16px;}
.caption a {color: #fff;font-weight: bold;}
.info_cnt:hover .full-caption.big{-moz-transform: translateY(-100%);-o-transform: translateY(-100%);-webkit-transform: translateY(-100%);opacity: .9;transform: translateY(-100%);margin-top: 0px;}
.caption.full-caption.small {top: 100%;margin-top: -35px;}
.info_cnt:hover .full-caption.small{-moz-transform: translateY(-100%);-o-transform: translateY(-100%);-webkit-transform: translateY(-100%);opacity: .9;transform: translateY(-100%);margin-top: 0px;}
.camnhanhocvien{font-size: 24px; color: #2a91d6; margin-bottom: 5%;}
.container-second{background: url("../img/nen11.jpg") center center;}
#content .container-second .student .student-image{width: 100px; height: 100px; display: inline; margin: 10% 0 7% 0;}
.student p{font-size: 14px;}
.student img{max-width: 231px;max-height: 213px;margin: 0;}
.student .student-description{color: #1c74bb; margin-bottom: 5%;}
.student .gachduoi{margin: auto; width: 50% !important; margin-bottom: 5%;}
.student .student-name{color: #000}
.student .student-major{margin-bottom: 5%; color: 59595b;}

/*tuyen*/
.display_none{
    display: none;
}
.display_block{
    display: block;
}
.color_link{
    color: green;
}
.width_col_12{
    width: 100%;
}
.border_top{
    border-top: 1px solid #ccc;
}
.margin_top_50{
    margin-top: 50px;
}
.margin_top_30{
    margin-top: 30px;
}
.margin_bottom_50{
    margin-bottom: 50px;
}
.width_50{
    width: 50px;
}
.container_question{
    /*width: 700px;*/
    margin: auto;
}
.font_weight_700{
    font-weight: 700;
}
.icon-color-color-white{
    color: white!important;
}
.color_red{
    color:red;
}
.page_exam_question:hover{
    color: red;
    font-weight: 600;
    border: 1px solid red;
}
.text_align_center{
    text-align: center;
}
.border_bottom_contact{
    border-bottom: 5px solid #EFEFEF;
    padding-bottom: 5px;
    color: #A2020A;
}
.border_all_red{
    border: 1px solid red;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.margin_auto{
    margin: auto;
}
.float-right{
    float: right;
}
.margin_bottom_50{
    margin-bottom: 50px;
}
.margin_bottom_30{
    margin-bottom: 30px;
}
.margin_top_50{
    margin-top:50px;
  }
